/* The Modal (background) */

#inviteUsers {
  width: 53em;
}

h4, h5 {
  padding: 0 !important;
  margin: 0 !important;
}

.close {
  color: white;
  opacity: 1;
  cursor: pointer;
  float: right;
}

.modal-title {
  color: #444;
  font-family: 'nexa_boldregular';
  font-size: 2em;
}

.close:hover {
  opacity: 0.5;
}

.pInvite {
  width: 60%;
  margin-bottom: 25px;
  margin-top: 3px;
}

h4, .close {
  display: inline-block;
}

.inviteUsersbody {
  padding: 0 1.3em 1em 1.5em;
  color: #000;
}

.modal {
  display: block; /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  float: none;
  margin-top: 6em;
}

.modal-header {
  color: #444;
  padding: 1em 1em 1em 1.6em;
}

.label {
  font-size: 1.3em;
  color: #333;
}

input.mailToAdd {
  width: calc(100% - 5em);
  border-radius: 0.5em;
  border: 1px solid;
  font-size: 1.3em;
  padding: 0.2em;
  padding-left: 0.4em;
  outline: none;
}

.roleZone {
  padding-top: 2em;
}

.textCenter {
  text-align: center;
}

.roleZone .label {
  vertical-align: top;
  display: inline-block;
  width: 2em;
  padding-top: 2em;
}

role-chooser-comp {
  display: inline-block;
  width: 75%;
}

.modal-header button.close {
  color: white !important;
  opacity: 0.6;
}

.verticalAlign {
  vertical-align: top !important;
}

.addUserDiv {
  text-align: right;
  background: url("/images/tiret-grey.png") repeat-x center center;
  margin-bottom: 11px;
}

.addUserDiv_inside {
  padding-left: 0.5em;
  display: inline;
  font-size: 1em;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Material-Design-Iconic-Font';
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.addUserDiv_inside:after {
  font-size: 2.3em;
  color: #3697FF;
  content: '\f276';
}

.addUserDiv_inside:hover:after, .addUserDiv_inside:hover span {
  color: #3697FF;
}

.addUserDiv_inside:hover {
  opacity: 0.9;
}

.addUserDiv_inside span {
  vertical-align: super;
  font-family: 'robotoregular';
  margin-right: 8px;
}

.titleMessage {
  margin-bottom: 10px;
  display: block;
}

material-input {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

material-input.themeable {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-footer {
  text-align: center;
  padding-bottom: 5%;
}

material-button.submitbottom {
  margin: 0 auto;
  width: auto;
  padding-left: 20px;
  padding-right: 40px;
  background: #3697FF url("/images/arrow-white.png") no-repeat 84% 49%;
  height: 36px;
  text-transform: none !important;
  color: white;
  font-size: 16px !important;
  line-height: 0.9 !important;
}

.containerInvites > input {
  padding: 0 0.5em !important;
  width: calc(100% - 1em) !important;
}

/* bg popin */
.modal-header, .inviteUsersbody, .modal-footer, .addUserDiv_inside {
  background-color: #f4f4f4;
}

.canContent {
  position: relative;
}

.can {
  position: absolute;
  top: 4px;
  left: auto;
  width: 100%;
}

select {
  height: 27px;
  width: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

select option[value="owner"]   { background:url("../images/owner.png") no-repeat 45% 45% !important; }


material-input.themeable, .addUserDiv {
  width: 100% !important;
}

.invites {
  width: 96% !important;
}

.top-section {
  padding: 8px 12px 20px 2px !important;
}

.inviteLabel {
  font-size: 3em;
}