.header {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.header .add {
  position: absolute;
  right: 0;
}

.folderList {
  list-style-type: none;
  padding: 0.3em 0 0 0;
  margin: 0 0 0 7px;
}

.folderItem > div {
  vertical-align: middle !important;
}

.folderItem.active, .folderItem.selected {
  text-decoration: none;
  background-color: #26C875;
  color: white;
}

.folderItem {
  color: #fff;
  margin-bottom: 0.1em;
  position: relative;
  font-weight: normal;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  padding: 0.2em 0.2em 0.2em 0.4em;
}

.folder-name {
  display: inline-block;
  /*width: calc(100% - 7em);*/
  /*max-width: calc(100% - 7em);*/
  width: calc(100% - 4em);
  max-width: calc(100% - 4em);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  font-family: 'nexa_boldregular';
  font-size: 1.1em;
}


@media only screen and (max-width: 1200px) {
  .folder-name  {
    font-size: 0.9em;
  }
}