* {
  font-family: Arial, Helvetica, sans-serif;
}

.login_pop {
  padding: 0;

}

#signup {
  width: 25em;
}

#signup .header {
  position: relative;
  background-color: #262D40;
  padding: 4px 11px 0;
}

#signup .signuptext {
  font-size: 1.4em;
  color: #fff;
  padding-top: 1em;
}

#signup .label {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

span, .logo_intro {
  vertical-align: middle;
  display: inline-block;
}

.title {
  font-size: 18px;
  font-weight: normal !important;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 !important;
}

a {
  color: #3A579A;
}

.verification_user {
  text-align: right;
  margin-bottom: 13px;
}

.label {
  color: #1F181F !important;
  font-weight: bold !important;
  text-align: left !important;
  padding-left: 0 !important;
}

.label, .forgot {
  display: inline-block;
}

.forgot {
  text-align: right;
  float: right;
  color: #3A579A;
  padding: .2em 0 0 0;
}

.local {
  border-right: 1px solid #C2C2C2;
}

.password, .mail {
  width: 100% !important;
}

.btn_login {
  background: #00adef;
  height: 36px;
  width: 98px;
  margin: 5px 0 0 74px !important;
  color: white;
}

.btn_login.pos2 {
  margin: 0 !important;
}

main.bottom-scroll-stroke {
  border-bottom: 0 !important;
  padding: 0 !important;
}

footer {
  background-color: #EEEEF0 !important;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 9px;
}

.copy {
  vertical-align: middle;
}

/*.passEqual {*/
/*background-color: rgba(255, 0, 0, 0.2);*/
/*}*/

#signup .content {
  text-transform: none !important;
  padding: 33px 32px 0 !important;
  background-color: #EEEEF0;
  font-size: 14px;
  font-weight: 500;
}

.signup {
  background-color: #EEEEF0;
  padding-bottom: 27px;
}

material-input.input.themeable {
  width: 100% !important;
}

.error {
  color: red;
  font-weight: bold;
}

.mandatory {
  border-bottom: 1px solid #DADADA;
  margin-bottom: 8%;
  padding-bottom: 6%;
}

.profile {
  position: absolute;
  left: calc(50% - 35.5px);
  border-radius: 50%;
  background-color: white;
  width: 75px;
  height: 75px;
  bottom: -35.5px;
}

.changeProfilePicture a {
  position: absolute !important;
  right: -38px;
  color: #fff !important;
  z-index: 999999 !important;
  top: 4px;
  font-size: 11px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* drag and drop */
.uploadFile {
  padding: 1em 0 2em !important;
}

.spprof {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before, .dragdrop_profil:hover #labelfileuploadprf,
.dragdrop_profil:focus #labelfileuploadprf {
  color: white;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

material-input.mail.themeable, material-input.password.themeable, material-input {
  padding: 0 !important;
}

#signup .top-section {
  padding: 4px 2px 7px 0;
}

.label, .input, .emaillab {
  font-size: 11px;
}


#login {
  background: #EEEEF0;
  width: 37em;
  clear: both;
}

.panels {
  padding: 2em 2em 0;
  position: relative;
  clear: both;
  overflow: initial;
}

.changePass {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 1em 0;
  color: #273B54;
  z-index: 999;
}

.title {
  color: #fff;
  float: left;
  width: 80%;
  padding: 0;
}

.close {
  float: right;
  cursor: pointer;
}

.header {
  background-color: #262D40;
  padding: 1em 1em 0;
}

/* drag and drop */
.uploadFile {
  padding: 1em 0 2em !important;
}

.skype.bottom_input {
  right: 27px;
}

.spprof {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before, .dragdrop_profil:hover #labelfileuploadprf,
.dragdrop_profil:focus #labelfileuploadprf {
  color: white;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before {
  border: 3px solid rgba(255, 255, 255, 0.5);
}


.local {
  border-right: 1px solid rgba(86, 86, 86, 0.17);
  width: calc(52% - 31px);
  display: inline-block;
  padding-right: 30px;
  overflow: hidden;
}

.social {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 3%;
}

/****/
.changeMail {
  cursor: pointer;
  position: relative;
}

.socialBtn {
  color: white;
  /*padding: 0.2em;*/
  display: inline-block;
  font-size: 23px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  margin-left: 1em;
}

.socialBtn:hover, .socialBtn:focus {
  box-shadow: 2px 2px 3px 0 rgba(26, 74, 76, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.facebook {
  background-color: #3A579A;
}

.google {
  background-color: #DF4A32;
}

.label {
  font-weight: bold;
  font-size: 1em;
}

.btnvalidat {
  text-align: center;
}

.bottom_input {
  position: absolute;
  bottom: -4em;
}

.social .line {
  vertical-align: middle;
  margin-bottom: 3.3em;
  text-align: right;
}

.social .line span {
  text-align: left;
}

.btn_login {
  margin: 4em 0 2em 0 !important;
}

.passwordZone {
  margin-bottom: 1.5em;
}

main, header, footer {
  background-color: #00adef !important;
}

.email {
  position: relative;
}

.changeMail {
  position: absolute;
  top: 36%;
  right: -20px;
}

fieldset {
  border: 1px solid rgba(39, 59, 84, 0.18) !important;
}

material-input {
  padding: 1px 0 !important;
}
