ul {
  margin: 0;
  padding: 0;
}

.subjects {
  /*padding-bottom: 3.5em;*/
  position: relative;
  height: 100vh;
}

li.user {
  list-style-type: none;
  display: inline-block;
  margin-left: -9px;
}

ul.subjectList {
  list-style: none;
}

li.subjectItem {
  cursor: pointer;
  margin-bottom: 1px;
  position: relative;
  border: 1px solid transparent;
  padding: 2px 0 2px 6px;
}

li.unread {
  font-weight: bold;
}

li.subjectItem:hover .name,
li.subjectItem:focus .name,
li.subjectItem.active .name {
  color: #000;
}

.approved .thumb {
  position: relative
}

.approved .thumb:before,
.locked .thumb:after,
.locked.ownAction .thumb:after {
  position: absolute;
  left: -6px;
  top: 1px;
  z-index: 9;
  content: "";
  background-repeat: no-repeat;
  display: block;
  width: 1.7em;
  height: 1.7em;
}

.approved .thumb:before {
  background: url("/images/approved.png");
  background-repeat: no-repeat;
  left: auto;
  right: -10px;
  top: 0;
}

.locked .thumb:after {
  background: url("/images/locked_sm_Red.png");
  background-repeat: no-repeat;

  /*width: 26px;*/
  /*height: 25px;*/
}

.locked.ownAction .thumb:after {
  background: url("/images/locked_sm.png");
  background-repeat: no-repeat;
}

.subject > div {
  display: inline-block;
  vertical-align: middle;
}

.thumb {
  position: relative;
  background-color: #DDE2E5;
  text-align: center;
  /*width: 3.3em;*/
  width: 2.8em;
  height: 1.9em;
  margin-right: 0.2em;
}

.thumb > img {
  max-width: 100%;
  height: 28px;
}

.name {
  font-size: 0.8em;
  color: #353535;
  max-width: calc(97% - 16.7em);
  word-break: break-word;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'robotoregular';
}

.version {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background: #A8D1F5;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 0.6em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  vertical-align: baseline !important;
  margin-right: 0.3em;
}

.users {
  float: right;
  margin-left: 0.4em;
  /*width: 4.4em;*/
  text-align: right;
}

.dropZone {
  /*  padding: 0 0 1em;
  width: calc(100% - 2em);*/
  width: 100%;
}

.uploadDropZone {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100px !important;
  background-color: transparent;
}

.uploadFile {
  padding: 0 !important;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.profileImg > img {
  width: 1.8em;
  border-radius: 50%;
  height: 1.8em;
}

.profileImg.validator > img {
  border: 2px solid #26C875;
}

/*__________________________________________*/
.headerSubject {
  font-size: 1em;
  color: #000;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.titleSubject {
  display: inline-block;
  width: 50%;
  line-height: 1.2;
  font-family: 'nexa_boldregular';
}

.rightSubjTitle {
  width: 50%;
  display: inline-block;
  text-align: right;
  float: right;
}

.zoneDragingIn {
  padding: 0 1em;
  width: calc(100% - 2em);
}

/*__________________*/

.newTopic {
  display: block;
}

.newTopic, .headerSubject {
  padding: 1em 1em 0;
  width: calc(100% - 2em);
  position: relative;
  z-index: 1;
}

.addBtn.addPeople {
  width: 2em;
}

.addBtn.addPeople, .users_list {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.3em;
}

.users_list {
  list-style: none;
  /*height: 2.7em;*/
  /*position: relative;*/
  /*color: #26C875;*/
  /*line-height: 3.8em;*/

  overflow: hidden;
  width: calc(100% - 3.5em);
  height: 33px;
  padding-right: 3px;

}

.users_list li:first-child {
  margin-right: 4px;
}

.moreUsers {
  display: inline-block;
  float: left;
  line-height: 2;
  width: 0.6em;
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

.users_list.usersDisplayed li, .users_list.usersDisplayed li.useractive {
  /*float: none;*/
  display: inline-block;
}

.users_list.usersDisplayed li.useractive {
  margin: 0
}

.users_list.usersDisplayed {
  height: auto;
}

.moreExpanded.moreUsers {
  opacity: 1;
}

.moreUsers:after {
  font-size: 1.3em;
  font-family: 'Material-Design-Iconic-Font';
  color: #26C875;
  content: '\f2f9';
  cursor: pointer;
}

ul.users_list.usersDisplayed {
  overflow: visible;
}

.moreExpanded.moreUsers {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/*__________________*/
.useractive {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: right;
  margin-left: -7px;
}

.useractive img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
}

.useractive.approver img {
  box-shadow: 0 0 0 0.18em #26C875;
}

/* userInfoPopup */
.userInfoPopup .userInfo {
  position: relative;
  margin-bottom: 0.3em;
}

.userInfoPopup .userInfo:before {
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 0.6em;
  width: 1em;
  vertical-align: middle;
  text-align: left;

}

.userInfoPopup .userInfo.role:before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 17px;
  background: url("/images/approved.png") no-repeat;
  position: absolute;
  left: 0;
}

.userInfoPopup .userInfo.role {
  padding-left: 26px;
}

.userInfoPopup .userInfo.email:before {
  content: "\f0e0";
  color: #F05D00;
  font-size: 17px;
}

.userInfoPopup .userInfo.skype:before {
  content: "\f17e";
  color: #00AFF0;
  margin-right: 0.2em;
}

.userInfoPopup .userInfo.timezone:before {
  content: "\f041";
  color: #F2542F;
  margin-left: 0.1em;
  margin-right: 8px;
}

.userInfoPopup .userInfo.timezone {
  margin-bottom: 1em;
}

.userInfoPopup .lastcnx {
  color: rgba(0, 0, 0, 0.28);
}

.userInfoPopup .name {
  margin-bottom: 0.5em;
  background: url("/images/tiret-black.png") repeat-x center center;
  width: 100%;
  max-width: 100%;
}

.userInfoPopup .name span {
  background: white;
  padding-right: 0.5em;
  display: inline;
  color: #273B54;
  font-weight: bold;
  font-size: 1.5em;
}

span.txtskype {
  color: #00AFF0;
}

.selected {
  font-weight: normal;
}

.userInfoPopup .userInfo a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.68);
}

li.subjectItem:hover .name {
  color: #888;
}

li.subjectItem.unread .name {
  color: #156fb9;
  font-weight: bold;
}

li.subjectItem.unread:hover .name {
  color: #000;
}

li.subjectItem.selected {
  background-color: #D8E8FF;
  color: white;
  text-decoration: none;
  border: 1px solid #3697FF;
}

li.subjectItem:hover {
  background-color: rgba(216, 232, 255, 0.58);
  color: white;
  text-decoration: none;
  border: 1px solid rgba(216, 232, 255, 0.58);
}

li.subjectItem.selected .version {
  background-color: #3697FF;
  color: #fff;
}

li.subjectItem.selected .name {
  font-weight: bold;
}

.newTopic .btn_valid:hover:after {
  color: #4690D1;
}

/** -- hideDropZone : cas de  subjectList remplis avec scroll-- **/

.hideDropZone {
  position: relative
}

/*
here i make the zone in all the div
top: 0;*/
/*height: 100% !important;*/

.hideDropZone .uploadDropZone {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100% !important;
  width: 100% !important;
  opacity: 0;
  z-index: 0;
}

.dropZoneVisible .uploadDropZone {
  z-index: 1;
  opacity: 1;

}

.dropZoneVisible .uploadDropZone .uploadFile {
  background-color: #2A89EF;
}

.hideDropZone.dragging .uploadDropZone,
.hideDropZone .dragging .uploadDropZone,
.dropZoneVisible .dragging .uploadDropZone {
  opacity: 0.7;
  z-index: 5;
  background-color: #D8E8FF;

  width: 100%;
  height: 100vh !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;

}

/****************************************/

#labelfileupload {
  cursor: pointer;
  color: #9E9E9E;
  z-index: 0;
  background-color: transparent;
  font-size: 13px;
  display: block;
  position: absolute;
  top: 43%;
  width: 12em;
  left: calc(47% - 6em);
}

#labelfileupload:before {
  font-family: 'Material-Design-Iconic-Font';
  color: #BEBEBE;
  content: '\f223';
  font-size: 1.7em;
  display: inline-block;
  position: absolute;
  left: 48%;
  top: -34px;
}

/*.dragging #labelfileupload {*/
/*opacity: 0;*/
/*z-index: -1;*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*}*/

/*.uploadDropZone:hover #labelfileupload:before,*/
/*.uploadDropZone:hover #labelfileupload {*/
  /*color: #3598f9;*/
/*}*/

.dragging #labelfileupload:before {
  font-size: 10em;
  opacity: 1;
  left: 26%;
  color: white;
  content: '\f276';
}

.dragging #labelfileupload {
  text-indent: -1px;
  color: transparent;
}

/*.dropZoneVisible.dragging #labelfileupload, .dropZoneVisible.dragging #labelfileupload:before,*/
/*.dropZoneVisible .dragging #labelfileupload, .dropZoneVisible .dragging #labelfileupload:before {*/
/*color: #3697FF;*/
/*color: pink;*/
/*}*/

.dragging .subjectListScollZone,
.dragging .uploadDropZone {
  z-index: 1;
}

.hideDropZone .subjectListScollZone {
  z-index: 1;
  position: relative;
}

.dragging .newTopic, .dragging .headerSubject {
  position: initial;
  z-index: -9;
}

.dropZone.dropZoneVisible.dragging .zoneDragingIn {

}

.subjectRight {
  float: right;
}

li.subjectItem:hover.selected {
  border: 1px solid #3697FF;
}

/*.dropZone.dropZoneVisible.dragging {*/
/*position: relative;*/
/*}*/

/*.dropZone.dropZoneVisible.dragging  .zoneDragingIn {*/
/*background-color: #FF00EB;*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*z-index: 2;*/
/*}*/

/*________________*/

@media only screen and (max-width: 1200px) {

  .zoneDragingIn {
    padding: 0 0.4em;
    width: calc(100% - 0.9em);
  }

  .newTopic {
    padding: 0.8em 0.4em 0;
    width: calc(100% - 0.8em);
  }

  .headerSubject {
    padding: 0.8em 0.4em 0 0.6em;
    width: calc(100% - 1em);
  }

}

@media (max-width: 800px) and (min-width: 700px) {
  .thumb {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .newTopic {
    margin: 0;
  }

  .folderItem:hover:after, .folderItem.active:after, .folderItem.selected:after {
    display: none;
  }
}