ul {
  margin: 0;
  padding: 0;
}

.subjects {
  background-color: #c1cdd4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}

li.user {
  list-style-type: none;
  display: inline-block;
}

li.subjectItem {
  padding: 0.1em 0 0.1em 0.7em;
  cursor: pointer;
  background: white;
  position: relative;
  border-bottom: 1px solid #edf2f8;
  border-left: 4px solid #edf2f8;
  border-top: 1px solid #edf2f8;
  border-right: 2px solid #edf2f8;
}

li.subjectItem.selected,
li.subjectItem:hover,
li.subjectItem:focus {
  background-color: #4690D1;
  color: white;
  text-decoration: none;
}

li.subjectItem.selected .version,
li.subjectItem:hover .version,
li.subjectItem:focus .version {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

li.subjectItem.selected:after,
li.subjectItem:hover:after,
li.subjectItem:focus:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(85, 134, 164, 0);
  border-left-color: #4590d1;
  border-width: 10px;
  margin-top: -10px;
}

li.subjectItem.selected .name,
li.subjectItem:hover .name,
li.subjectItem:focus .name,
li.subjectItem.active .name{
  color: white;
}

li.subjectItem.selected .name,
li.subjectItem.active .name {
  font-weight: bold;
}

.approved .thumb {
  position: relative
}

.approved .thumb:before {
  width: 1.4em;
  height: 1.4em;
  content: "";
  position: absolute;
  right: -0.7em;
  top: 0;
  z-index: 9;
  background: url("../images/approved.png");
  background-repeat: no-repeat;
  display: block;
}

.locked .thumb:after {
  width: 1.4em;
  height: 1.4em;
  content: "";
  position: absolute;
  left: -9px;
  top: 7px;
  z-index: 9;
  background: url("../images/locked_sm.png");
  background-repeat: no-repeat;
  display: block;
}

.subject > div {
  display: inline-block;
  vertical-align: middle;
}

.thumb {
  position: relative;
  /*width: calc(2.9em - 2px);*/
  background-color: #DDE2E5;
  text-align: center;
  /*line-height: 2.3em;*/
  width: 3.3em;
  height: 1.8em;
}

.thumb > img {
  height: auto;
  max-width: 100%;
  width: 40px;
  height: 28px;
}

.name {
  font-size: 0.8em;
  color: #353535;
  max-width: calc(100% - 11.7em);
  text-transform: lowercase;
  word-break: break-all;
  line-height: 1;
}

.version {
  background-color: #1A1A99;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 0.6em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  vertical-align: baseline !important;
}

.users {
  float: right;
  min-width: 2em;
}

.uploadDropZone {
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  background-color: #edf2f8;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  /*border: 2px solid lightgray !important;*/
  width: 100%;
}

.uploadFile {
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  width: 100%;
  min-height: 30em;
  padding: 0 !important;
  cursor: pointer;
}

.profileImg > img {
  width: 2em;
  border-radius: 1em;
  height: 2em;
}

.profileImg.validator > img {
  border: 2px solid green;
}

.title {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  width: calc(100% - 20px);
  font-size: 1em;
  color: #fff;
  background-color: #3471AA;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 38px;
  line-height: 36px;
  padding: 0 10px;
}

.newTopic {
  margin: 20px 15px;
}

.addBtn.addpeople, .users_list {
  float: right
}

.users_list {
  margin-right: 3px;
  margin-top: 4px;
  list-style: none;
}

.useractive {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: right;
  margin-right: 3px;
}

.useractive img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.useractive.approver img {
  box-shadow: 0 0 0 2px #7FBB01;
  margin-top: -1px;
}

/* userInfoPopup */
.userInfoPopup .userInfo {
  position: relative;
  margin-bottom: 0.2em;
}

.userInfoPopup .userInfo:before {
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 0.6em;
  width: 1em;
  vertical-align: middle;
  text-align: left;

}

.userInfoPopup .userInfo.role:before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 17px;
  background: url("../images/approved.png") no-repeat;
  position: absolute;
  left: 0;
}

.userInfoPopup .userInfo.role {
  padding-left: 26px;
}

.userInfoPopup .userInfo.email:before {
  content: "\f0e0";
  color: #F05D00;
  font-size: 17px;
}

.userInfoPopup .userInfo.skype:before {
  content: "\f17e";
  color: #00AFF0;
  margin-right: 0.2em;
}

.userInfoPopup .userInfo.timezone:before {
  content: "\f041";
  color: #F2542F;
  margin-left: 0.1em;
  margin-right: 8px;
}

.userInfoPopup .userInfo.timezone {
  margin-bottom: 1em;
}

.userInfoPopup .lastcnx {
  color: rgba(0, 0, 0, 0.28);
}

.userInfoPopup .name {
  margin-bottom: 0.5em;
  background: url("../images/tiret-black.png") repeat-x center center;
  width: 100%;
  max-width: 100%;
}

.userInfoPopup .name span {
  background: white;
  padding-right: 0.5em;
  display: inline;
  color: #273B54;
  font-weight: bold;
  font-size: 1.5em;
}

span.txtskype {
  color: #00AFF0;
}

.selected {
  font-weight: normal;
}

