/* Master Styles */
h1 {
  color: #369;
}

h2, h3 {
  color: #444;
}

ul, menu, dir, .version {
  -webkit-padding-start: 0 !important;
  padding-start: 0 !important;
}

html, body, my-app, my-app > div, .leftP, my-place, .folders {
  /*height: 100%;*/
  /*font-size: 100%;*/
}

.leftP {
  width: 17%;
  height: calc(100vh - 2.2em);
  /*position: relative;*/
  z-index: 2;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
}

.local > input {
  width: 96% !important;
}

#page {
  background: #FFF;
  padding: 20px;
  margin: 20px;
}

#demo {
  width: 200px;
  height: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

li.liAdd {
  margin-bottom: 0.2em;
}

body {
  background: #fff;
  font-family: 'robotoregular';
  font-weight: 500;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*--------------------------- material components --------------------*/

.secondary-text {
  position: absolute;
  right: 1em;
  top: 1em;
  border-radius: 100%;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.8em;
  text-align: center;
  display: inline-block;
  font-size: 0.8em !important;
  vertical-align: top;
  color: white !important;
  background-color: #9C3232;
  font-family: 'nexaregular' !important;

}

.open .secondary-text {
  top: 1.7em;
  background-color: #F96767;
  right: 3em;
}

/*--------------------------- material components end. --------------------*/

.termsConditions {
  max-width: 51em;
  padding: 2em 1em;
}

.title {
  font-family: 'nexaregular';
}

.blue {
  background-color: #00adef !important;
}

.btnBlue {
  text-transform: none !important;
  background-color: #00adef !important;
  color: #fff !important;
}

.login_pop {
  padding: 0;
  background: #fff url("../images/bg_intro.png") no-repeat -25px 0 !important;
}

.forgot-pass-dialog {
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

body, input[text], button {
  color: rgba(0, 0, 0, 0.68);
  font-size: initial;
}

.hidden {
  display: none;
}

.leftP, .rightPanelinside, .centerP, .rightP {
  float: left
}

.rightPanelinside {
  width: 83%;
  padding: 0 !important;
  background-color: #fff;
  height: calc(100vh - 2.2em);
}

.centerP {
  width: calc(40% - 0.1em);
  background-color: #F1F1F1;
  padding: 0;
  border-right: 0.1em solid #BEBEBE;
  min-width: 5% !important;
}

.rightP {
  width: calc(60% - 0.7em);
  padding-right: 0.7em;
}

.panel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0 !important;
  margin: 0 0 0.25em 0 !important;
}

a {
  cursor: pointer;
}

button {
  background-color: #bfbb97;
  border: none;
  padding: 5px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.86);
}

.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.items .text {
  position: relative;
  top: -3px;
}

.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}

.items .text {
  position: relative;
  top: -3px;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}

.label {
  font-weight: normal;
}

.title {
  padding: 0;
  width: 100%;
  font-size: 2em;
  font-family: 'nexa_boldregular';
  color: #4C3B4E;
}

.buttonGroup {
  float: right;
  width: 1.3em;
  padding-left: 0.3em;
  background-color: white;
}

.rightMenu {
  display: inline-block;
  width: 2em;
  text-align: right;
  vertical-align: top;
  height: 1.4em;
  float: right;
}

.rightMenu .imgProfil {
  margin-top: -1.7px;
  display: inline-block !important;
  vertical-align: top;
}

.placePanel .panel-name .primary-text {
  font-family: 'nexa_boldregular';
  font-size: 1.3em;
  position: relative;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}

.expand-button {
  color: #8692a0 !important;
}

.placePanel .panel-name .primary-text:before {
  content: "\f175";
  font-family: 'Material-Design-Iconic-Font';
  color: #fff;
  margin-right: 0.2em;
  font-size: 1.2em;
}

.content-wrapper {
  margin: 0 0 16px 5px !important;
}

.places > main, main {
  overflow: inherit !important;
}

.row {
  margin: 0.4em 0.5em 0 0.5em;
}

.imgBtn {
  height: auto !important;
  vertical-align: text-bottom;
  cursor: pointer;
}

header.closed:hover,
header.closed:focus,
header:focus,
header:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

:focus {
  outline: -webkit-focus-ring-color auto 0 !important;
}

/* style for folder*/
.text_comp {
  position: relative !important;
}

.addplace input, .liAdd input {
  padding: 0 !important;
  width: calc(100% - 46px) !important
}

.text_comp input {
  background: transparent !important;
  -webkit-appearance: normal !important;
  -moz-appearance: normal !important;
  border: 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65) !important;
  color: rgba(255, 255, 255, 0.65);
  padding: 0;
  width: calc(100% - 57px);
  font-family: 'nexa_boldregular';
  font-size: 1.1em;
}

.text_comp:after {
  content: "\f158";
  font-size: 1.1em;
  font-family: 'Material-Design-Iconic-Font';
  color: #F4F4F4;
  display: block !important;
  position: absolute !important;
  left: calc(100% - 44px) !important;
  bottom: -3px !important;
}

.okBtn {
  vertical-align: bottom;
  float: right;
  background-color: white;
  height: 1.6em;
  color: black;
  font-size: 0.7em;
  text-align: center;
  width: 2.3em;
  border-radius: 3px;
  line-height: 1.4em;
  margin-top: 0.5em;
  font-family: 'robotoregular';
  cursor: pointer;
}

.top-section, .baseline {
  background: white !important;
}

.basic-dialog {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.basic-dialog > main {
  padding: 0 !important;
}

.basic-dialog > header {
  padding: 0 !important;
}

.baseline {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100% !important;
  background-color: white !important;
  color: #000 !important;
}

.top-section {
  border: 1px solid #c6c6c6;
  margin-bottom: 0 !important;
  background-color: white;
  /*padding: 0.52em  !important;*/
  padding: 4px 2px 7px 0;
}

main, header, footer {
  padding: 0 !important;
}

.label {
  text-align: left !important;
}

.label-text {
  font-size: 13px;
}

.profileImg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 1.8em;
  width: 1.8em;
}

.verification_user > div {
  display: inline-block;
  color: #3A579A;
  cursor: pointer;
}

.verification_user .signup {
  text-decoration: underline;
}

#signup .top-section {
  padding: 3px 2px 3px 0;
}

#signup input, #signup textarea {
  box-shadow: none;
  font-size: 12px;
  color: #505050;
}

#signup input, #signup textarea,
#forgotPass input {
  width: calc(100% - 18px);
  padding: 0 9px !important;
}

#signup .passEqual .top-section {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

#signup .passEqual input {
  color: white !important;
}

#signup .passEqual .focused-underline {
  background-color: red !important;
}

#signup .bottom-section {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.userName, .profileImg {
  vertical-align: middle;
  display: inline-block;
}

.content-wrapper, .content {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.content-wrapper {
  margin: 0 0 0 0 !important;
}

textarea {
  padding: 0.4em 0.8em !important;
  width: calc(100% - 1em) !important;
}

.btn_login {
  height: 36px;
  width: 98px;
  margin: 5px 0 15px 74px !important;
  text-transform: none !important;
  color: white !important;
  font-size: 16px !important;
  background: #00adef;
  line-height: 0.9 !important;
}

.is-raised {
  background: #00adef;
}

.roleChooser .imgBtn {
  cursor: pointer;
}

.role.selected img {
  opacity: 1;
}

.mail.themeable .label-text {
  padding-left: 8px !important;
}

.error-text, .hint-text, .spaceholder {
  font-size: 11px !important;
}



input#hideInput::-webkit-file-upload-button {
  -webkit-appearance: textfield;
  display: none;
}


.uploadDropZone:hover, .uploadDropZone:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}

.nomargin {
  margin: 0 !important;
  padding: 1px 0 0 0 !important;
  vertical-align: top;
}

.invites .top-section {
  padding: 2px 2px 4px 0 !important;
}

.subjects .newTopic {
  margin-bottom: 1.7em;
}

.newTopicBlock input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 2.6em;
  font-size: 0.8em;
  color: #000;
  font-family: 'robotoregular';
  background: #fff;
  border: 1px solid rgba(146, 146, 146, 0.63);
  width: calc(100% - 34px) !important;
  padding: 0 20px 0 10px !important;
}

.arowmenow {
  position: relative;
  display: inline-block;
  width: calc(100% - 2.8em);
  margin-left: 0.5em;
}

.arowmenow:after, .arowmenow:before {
  right: 99.8%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arowmenow:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.arowmenow:before {
  border-color: rgba(146, 146, 146, 0);
  border-right-color: #989292;
  border-width: 7px;
  margin-top: -7px;
}

.newTopicBlock {
  position: relative;
  display: inline-block;
  width: calc(100% - 2.5em);
}

.files .newTopicBlock {
  width: 100%;
}

.files .arowmenow {
  width: calc(100% - 5.3em);
}

.btn_valid {
  position: absolute;
  right: 6px;
  top: 2px;
  text-align: center;
  color: #c3c3c3;
  cursor: pointer;
  padding: 0;
  font-family: 'Material-Design-Iconic-Font';
}

.btn_valid:after {
  font-size: 1.5em;
  color: #BEBEBE;
  content: '\f194';
  vertical-align: middle;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  margin-left: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.files .btn_valid:hover:after {
  color: #4690D1;
}

.profile_pop {
  border-radius: 0;
}

/*form#fileForm {*/
  /*clear: both;*/
  /*position: relative;*/
/*}*/

.close:hover {
  opacity: 0.7;
}

.disabledInput {
  color: rgba(0, 0, 0, 0.38);
  background-color: #00adef;
}

.disabledInput {
  color: rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  width: 96% !important;
  box-shadow: 0 7px 0 0px rgba(0, 0, 0, 0.1) !important;
  border-top: 7px solid rgba(0, 0, 0, 0.01) !important;
  margin-top: -4px !important;
}

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}

.placesPostit .postit {
  left: 20.4% !important;
  top: 80px !important;
}

.foldersPostit .postit {
  left: 97% !important;
  top: 23.6% !important;
}

.subjectsPostit .postit {
  left: 49.7% !important;
  top: 4.9em !important;
}

.filesPostit .postit {
  right: 0% !important;
  top: 20.5% !important;
  transform: rotate(-10deg);
}

.commentPostit .postit {
  left: 0;
  bottom: 10%;
  transform: rotate(5deg);
}

material-ripple {
  font-size: .8em !important;
}

material-button.btn_login {
  background-color: #00adef;
}

material-button.btn_login .content {
  color: #fff;
  line-height: 0.9;
}

.basic-dialog.fileOpen {
  background-color: white;
  width: 22em;
}

.basic-dialog.fileOpen .wrapper > header {
  background: #263a53;
  padding: 1em 0 !important;
  position: relative;
}

.basic-dialog.fileOpen > main, .basic-dialog.fileOpen .content {
  background: #fff;
  padding: 2em;
  color: #030303;
  overflow: hidden;
}

.basic-dialog.fileOpen .fileActions {
  margin-top: 1em;
}

.fileActions_btn {
  display: inline-table;
  width: 44%;
}

.posRight {
  float: right;
}

.basic-dialog.fileOpen .btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #d9d9d9;
  padding: 4em 0.2em 1em;
  color: rgba(255, 255, 255, 0.57);
  position: relative;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 0.5em;
}

.basic-dialog.fileOpen .btn:hover, .basic-dialog.fileOpen .btn:focus {
  background-color: #00adef;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 1em 0em rgba(0, 0, 0, 0.3);
}

.fileActions_btn:hover span {
  color: #00adef;
}

.basic-dialog.fileOpen .btn.material-icons:hover:after, .basic-dialog.fileOpen .btn.material-icons:focus:after {
  color: white;
}

.basic-dialog.fileOpen .fileActions_btn span {
  font-size: 1.4em;
  text-align: center;
}

.basic-dialog.fileOpen .fileName {
  color: #302C3D;
  font-size: 1.7em;
  text-decoration: none;
  width: 90%;
  /*word-break: break-all;*/
  line-height: 1.2;
}

.basic-dialog.fileOpen .btn {
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  cursor: pointer;
}

.btn.material-icons.lock {
  text-align: center;
}

.basic-dialog.fileOpen .btn.material-icons:after {
  position: absolute;
  top: 19%;
  left: 0;
  font-size: 3em;
  width: 100%;
  color: #eeeeee;
}

.basic-dialog.fileOpen .btn.material-icons.lock:after {
  content: '\f158';
}

.basic-dialog.fileOpen .btn.material-icons.openOnly:after {
  content: '\f15c';
}

.basic-dialog.fileOpen .btn.material-icons span {
  font-size: 0.6em;
  white-space: normal;
  line-height: 1.2em;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.popupHeader {
  position: relative;
  padding: 1.2em 1.2em 0 1.2em;
}

.header {
  position: relative
}

.popupHeader .close, .close {
  position: absolute;
  top: 0;
  right: 0.4em;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font' !important;
  cursor: pointer;
}

.close:after {
  content: '\f136';
  color: rgba(144, 144, 146, 0.76);
  /* color: rgba(255, 255, 255, 0.76);*/
  font-size: 0.7em;
}

.close:hover {
  opacity: 0.6;
}

.release .content {
  padding: 0.2em 0.2em 0.4em !important;
  text-transform: none !important;
}

material-dialog {
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
}

.userInfoPopup {
  min-width: 10em;
  padding: 1.4em 0.5em 1.6em 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  font-size: 0.9em;
  vertical-align: middle;
  background: #fff;
  border: 1px solid rgba(141, 141, 141, 0.48);
  -webkit-box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  -moz-box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  position: relative;
}

.shadow .popup {
  overflow: inherit !important;
}

material-popup#popVersion {
  position: absolute !important;
  top: 5em !important;
  right: 2em !important;
}

.popVersion .menuItem {
  background-color: turquoise;
}

.clearfix {
  clear: both;
}

.acx-overlay-container > .pane.align-y-center > * {
  position: relative !important;
}

ul {
  margin: 0;
  padding: 0;
}

.bgWhite {
  background: url("../images/bgwhite.png") no-repeat 45% 45%;
  background-size: 0.8em;
}

header.closed {
  background-color: transparent !important;
}

header.closed:hover,
header.closed:focus {
  opacity: 1;
}

header.closed .primary-text:before,
header.closed .primary-text {
  color: #85828d !important;
}


.popinVersion .content {
  padding: 0.1em 0.57em !important;
  font-size: 0.8em;
}

.popinVersion {
  background-color: #fff;
  padding-top: 1em;
}

.popinVersion .menuItemVersion {
  width: 100%;
  text-align: left;
  text-transform: none;
  color: #273B54;
  font-size: 1em;
}


.popinVersion .menuItemVersion i {
  margin-right: 0.5em;
  font-size: 2em;
}

.popinVersion .menuItemVersion i.approve {
  color: #26C875;
}

.popinVersion .menuItemVersion i.nnApprove {
  color: #BEBEBE;
}

.popinVersion .menuItemVersion i.commentVers {
  color: #63C7FE;
}

.popinVersion .menuItemVersion i.delete {
  color: #BEBEBE;
  padding-left: 0.1em;
}

.spanVersion {
  text-align: center !important;
}

.leftP .placePanel .panel .expand-button i.material-icons,
.leftP .placePanel .panel .expand-button.expand-more i.material-icons,
.placePanel .expand-button i.material-icons,
.placePanel .expand-button.expand-more i.material-icons {
  color: transparent !important;
  background: url("../images/arrowP.png") no-repeat center center !important;
  width: 1.3em !important;
  display: none !important;
}

.leftP .placePanel .panel.open .expand-button i.material-icons,
.leftP .placePanel .panel.open .expand-button.expand-more i.material-icons,
.placePanel .expand-button i.material-icons:hover,
.placePanel .expand-button.expand-more i.material-icons:hover {
  background: url("../images/arrowPhover.png") no-repeat center center !important;
  display: block !important;
}

.forgotPass footer {
  text-align: center
}

/*_________Animation adit profile______________*/

.croppie-container .cr-boundary, .croppie-container .cr-viewport {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

.croppie-container .cr-slider-wrap {
  margin: 1px auto !important;
}

#labelfileuploadprf {
  cursor: pointer;
  z-index: 1;
  padding-right: 45px;
  font-size: 1em;
  display: block;
  position: absolute;
  top: calc(100% - 3em);
  left: calc(50% - 3em);
  color: #bebebe;
  text-decoration: underline;
}

#labelfileuploadprf img {
  max-width: 100%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 3;
  position: absolute;
  left: 3px;
  top: 3px;
}

.spinAnim {
  width: 86px;
  height: 86px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  position: relative;
  text-align: center;
}

.spinAnimCircle {
  background-color: white;
  width: 86px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 86px;
}

.uploading .spinAnimCircle {
  background: #00adef;
  background: linear-gradient(to bottom, rgba(253, 255, 249, 1) 0%, #00adef 73%);

  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.uploading .spprof {
  color: rgba(31, 193, 255, 0.96);
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(113, 111, 111, 0.5);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(113, 111, 111, 0.5);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(113, 111, 111, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(113, 111, 111, 0.5);
}

.files ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(113, 111, 111, 0.25);
}

.files ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(113, 111, 111, 0.25);
}

.files :-ms-input-placeholder { /* IE 10+ */
  color: rgba(113, 111, 111, 0.25);
}

.files :-moz-placeholder { /* Firefox 18- */
  color: rgba(113, 111, 111, 0.25);
}

#inviteLablel .label {
  padding: 0.4em 0.8em !important;
}

.arrowLeft {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowLeft:after, .arrowLeft:before {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowLeft:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 7px;
  margin-top: -7px;
}

.arrowLeft:before {
  border-color: rgba(141, 141, 141, 0);
  border-right-color: #8d8d8d;
  border-width: 8px;
  margin-top: -8px;
}

.arrowBottom {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowBottom:after, .arrowBottom:before {
  top: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBottom:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}

.arrowBottom:before {
  border-color: rgba(141, 141, 141, 0);
  border-top-color: #8d8d8d;
  border-width: 8px;
  margin-left: -8px;
}

.arrowRight {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowRight:after, .arrowRight:before {
  left: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowRight:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 7px;
  margin-top: -7px;
}

.arrowRight:before {
  border-color: rgba(141, 141, 141, 0);
  border-left-color: #8d8d8d;
  border-width: 8px;
  margin-top: -8px;
}

.arrowTop {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowTop:after, .arrowTop:before {
  bottom: 100%;
  right: 15px;
  left: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowTop:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}

.arrowTop:before {
  border-color: rgba(141, 141, 141, 0);
  border-bottom-color: #8d8d8d;
  border-width: 8px;
  margin-left: -8px;
}

.alertInner {
  position: absolute;
  right: 1em;
  top: 2.4em;
}

.alertInner .close {
  top: -0.1em;
}

.error .notif *,
.message .notif * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error .notif,
.message .notif {
  position: relative;
  z-index: 99999;
  word-wrap: break-word;
  padding: 1em 2.7em;
  min-width: 10em;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -moz-box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  -webkit-box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  color: #FFFFFF;
  font-size: 0.85em;
  display: block;
  margin-bottom: 0.3em;
  transition: opacity .3s linear;
}

.error .notif:hover,
.message .notif:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  cursor: pointer;
  transition: opacity .3s linear;
  opacity: 0.9;
}

.error .notif {
  background-color: #BD362F;
}

.notif .close:after {
  color: rgba(255, 255, 255, 0.76) !important;
}

.message .notif {
  background-color: #51A351;
}

material-button.btn_login.submitbottom.is-raised .content {
  padding: 0.6em 0.57em;
}

material-button.menuItem.profile .content, material-button.menuItem.logout .content {
  padding: 3px 0 3px 6px;
}

#login input {
  width: calc(100% - 14px) !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

/*@media only screen and (max-width: 992px) {*/
/*.leftP, .rightPanelinside {*/
/*width: 100%;*/
/*}*/

/*.leftP {*/
/*height: auto;*/
/*}*/

/*.rightMenu {*/
/*margin-right: 0.2em;*/
/*}*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*.centerP, .rightP {*/
/*width: 100%;*/
/*}*/

/*}*/

/************************************/

/**********/

.nameTroq {
  display: inline-block;
  width: calc(50% - 2.3em);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2em;
}

.folders .scrollbar-macosx {
  width: calc(100% + 10px);
}

.folders .scrollContent {
  width: calc(100% - 10px);
}

/**********/
.headerplaces .addBtn {
  background-color: #3697FF;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 2.3em;
  margin-left: 0.5em;
  cursor: pointer;
}

.headerplaces .addBtn i {
  color: white;
  font-size: 1.2em;
}

.headerplaces .addBtn:hover i {
  color: #252132;
}

.headerplaces .addBtn:hover {

}

/*.headerplaces .addBtn:after {*/
/*color: white;*/
/*font-size: 1.5em;*/
/*content: '\f276';*/
/*font-family: 'Material-Design-Iconic-Font';*/
/*}*/

/**********/

/**********/

.subjects .addBtn:after {
  font-family: 'Material-Design-Iconic-Font';
  color: #3697FF;
  font-size: 2.4em;
  content: '\f276';
  cursor: pointer;
  line-height: 0.9;
}

.subjects .addBtn:hover:after {
  color: #71698D;
  color: #312B31;
}

#inputSym .input-container {
  margin-top: 1px;
  margin-bottom: -1px;
}

#signup .input-container {
  margin-top: 1px;
  margin-bottom: 3px;
}

.btn_login.is-raised > .content {
  padding: 0.6em 0.57em !important;
}

/*_____ spinner ______________*/

.spinnerInner {
  margin: 0 auto !important;
  text-align: center !important;
}

.crashedInner {
  margin: 0 auto !important;
  text-align: center !important;
  font-family: 'Material-Design-Iconic-Font';
}

.crashedInner::after {
  content: '\f1f1';
  color: #F96767;
  position: absolute;
  right: -2px;
  top: -3px;
}

#changeRoleUsers .roleChooser role-item {
  background: none !important;
}

#changeRoleUsers .roleChooser role-item.owner {
  background: url("../images/tiret-black.png") repeat-x right 50% !important;
}

#changeRoleUsers .roleChooser role-item.delete {
  background: url("../images/tiret-black.png") repeat-x left 50% !important;
}

#changeRoleUsers .roleChooser role-item.viewer,
#changeRoleUsers .roleChooser role-item.writer {
  background: url("../images/tiret-black.png") repeat-x center center !important;
}

#changeRoleUsers .changeRoleUsersbody .roleChooser role-item {
  width: 25%;
}

#changeRoleUsers .roleChooser role-item.delete {
  display: block;
}

#changeRoleUsers .roleChooser role-item.owner,
#changeRoleUsers .roleChooser role-item.viewer {
  text-align: center;
}

#changeRoleUsers material-button.submitbottom.btn_login.is-raised {
  background: #00adef;
  background-image: none;
  padding-left: 30px;
  padding-right: 30px;
}

/* _ _ __ _ _ _ __ _ _ */
.addTopicBtn {
  font-family: 'Material-Design-Iconic-Font';
  width: 2.1em;
  height: 2.1em;
  line-height: 2em;
  border: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  float: right;
}

.addTopicBtn:before {
  color: #BEBEBE;
  content: '\f223';
  font-size: 1.7em;
}

.addTopicBtn:hover {
  border-color: #4690D1;
}

.addTopicBtn:hover:before {
  color: #4690D1;
}

#inviteUsers input {
  width: calc(100% - 12px) !important;
  padding: 0 6px !important;
}

.versionComment {
  padding: 0.6em 0;
}

/* Help */

.u-userBackgroundColor:not(disabled),
.u-userBackgroundColor:not(disabled),
.u-userBackgroundColor:not(disabled) {
  background-color: red !important;
}

/**************************************************************/
.leftP .panel:hover {
  background-color: rgb(71, 67, 86) !important;
}

.leftP .panel:hover header.closed .primary-text:before,
.leftP .panel:hover header.closed .primary-text {
  color: #DCDAE0 !important;
}

/*.leftP .panel header.closed .primary-text {*/
/*color: red  !important;*/
/*}*/

.leftP .panel.open,
.leftP .panel {
  background-color: rgba(48, 44, 61, 0.56) !important;
  padding-left: 0.5em;
  padding-right: 0.6em;
}

.leftP .panel.active {
  background-color: yellow !important;
}

.h2Places {
  font-size: 1.2em;
  color: #5F5D65;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0.6em;
  font-family: 'nexa_lightregular';
}

.users .h2Places {
  margin-bottom: 0.9em;
}

.ui-resizable-e {
  cursor: col-resize !important;
  display: block !important;
  width: 24px !important;
  height: 100% !important;
  /*height: 31px !important;*/
  right: -12px !important;
  top: 0 !important;
  bottom: 0;
  /*background: url("../images/ui-resizable-e.png") no-repeat;*/
}

iframe#launcher {
  margin: 2px 4px !important;
}

/*__________________*/

#commentArea {
  display: inline !important;
  padding: 1.4em !important;
  width: calc(100% - 4em) !important;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  margin-left: 10px;
  min-height: 1em;
  overflow: hidden;
  position: relative;

}

/****************new 03-07-**********************/

.rename_subject, .validRename_subject, .delete_subject {
  font: normal normal normal 1.3em/ 1 'Material-Design-Iconic-Font';
  vertical-align: middle;
  display: inline-block;
  opacity: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0;
  margin-left: 0.4em;
  line-height: 0.9em;
  text-align: center;
  background-color: transparent;
  margin-top: 5px;
}

/*li.subjectItem.selected .validRename_subject {*/
/*display: block;*/
/*}*/

.rename_subject:after {
  content: "\f158";
  font-size: 0.8em;
}

.delete_subject:after {
  content: "\f154";
  font-size: 0.75em;
}

.editSubject {
  width: 100%;
}

.editSubject input {
  border: 0;
  background-color: transparent !important;
  height: 1em;
  padding: 0.1em 0.5em 0.2em 0;
  color: #3697FF;
  width: calc(100% - 3.1em);
  border-bottom: 1px solid #3697FF;
  margin: 0.4em 0 0.3em 0;
}

.validRename_subject {
  background-color: #fff;
  color: #3471AA;
  font-family: Arial;
  font-size: 13px;
  opacity: 1;
  width: 1.8em;
  height: 1.7em;
  line-height: 1.6em;
}

.delete_subject {
  margin: 5px 0 0;
}

li.subjectItem.selected:hover .rename_subject:after,
li.subjectItem.selected:hover .delete_subject:after {
  color: #3697FF;
}

li.subjectItem.selected:hover .rename_subject,
li.subjectItem.selected:hover .delete_subject {
  opacity: 1;
}

li.subjectItem.selected:hover .rename_subject:hover:after,
li.subjectItem.selected:hover .delete_subject:hover:after {
  color: #fff;
}

li.subjectItem.selected:hover .rename_subject:hover,
li.subjectItem.selected:hover .delete_subject:hover {
  background-color: #3697FF;
}

#launcher {
  right: auto !important;
  left: 0 !important;
  bottom: 0.2em !important;
}

.u-userBackgroundColor.src-component-Launcher-wrapper.u-isActionable.u-textLeft.u-inlineBlock.u-borderNone.u-textBold.u-textNoWrap.Arrange.Arrange--middle {
  background-color: #2A89EF !important;
}

.termsConditions {
  z-index: 1005;
}



/*__________________*/

.rightPanelinside {
  /*display: flex;*/
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */

  min-height: 80px;
  width: 100%;
  white-space: nowrap;

}

/******** resize search and the rest of content ************************/

.panel-bottom {
  min-height: 150px !important;
  display: block;
}

.ui-resizable-s {
  cursor: row-resize !important;
  height: 20px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-s:hover, .ui-resizable-e:hover {
  background-color: rgba(241, 241, 241, 0.21);
}

/*__________________*/

@media only screen and (max-width: 1200px) {

  .placePanel .expand-button i.material-icons, .placePanel .expand-button.expand-more i.material-icons,
  .placePanel .expand-button i.material-icons:hover,
  .placePanel .expand-button.expand-more i.material-icons:hover {
    background-size: 70% !important;
  }

  .nameTroq {
    font-size: 1.2em;
  }

  /*.placePanel .panel-name .primary-text,*/
  .h2Places, .title {
    font-size: 1em;
  }

  .files .title, .titleSubject {
    font-size: 1.5em;
  }

  .leftP {
    width: 20%;
  }

  .rightPanelinside {
    width: 80%;
  }

  .centerP {
    width: calc(50% - 0.1em);
  }

  .rightP {
    width: calc(50% - 0.7em);
  }

  .versionsListScroll .scrollbar-macosx {
    height: calc(100vh - 11.8em);
  }

  .versionTitle {
    width: 95%;
  }

  .headerSubject {
    padding: 0.7em 1em 0;
  }

  .headerplaces .addBtn i {
    color: white;
    font-size: 0.8em;
  }

  .headerplaces .addBtn {
    height: 1.5em;
    width: 1.5em;
    line-height: 1.6em;
  }

  .subjects .newTopic {
    margin-bottom: 1em;
  }

  .placePanel .panel-name .primary-text {
    font-size: 1.1em;
  }

  .placePanel .panel-name .primary-text {
    overflow: hidden;
  }

  .text_comp input {
    font-size: 0.9em;
  }

}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

/*__________________*/

@media only screen and (max-width: 480px) {

  .leftP, .rightPanelinside {
    width: 100%;
  }

  .leftP {
    height: auto;
  }

  .centerP, .rightP {
    width: 100%;
  }

  .alertInner {
    right: 0;
    top: 2.8em;
  }

  body {
    font-size: 1em;
  }

  .rightPinside {
    margin-left: 0;
  }

  li.subjectItem {
    border-left: 0 solid #EDF2FB;
  }

  .newTopic {
    padding: 1em 0.6em;
    margin: 0;
  }

}

