/* Master Styles */
h1 {
  color: #369;
}

h2, h3 {
  color: #444;
}

ul, menu, dir, .version {
  -webkit-padding-start: 0 !important;
  padding-start: 0 !important;
}

html, body, my-app, my-app > div, .leftP, my-place, .folders {
  /*height: 100%;*/
  /*font-size: 100%;*/
}

.leftP {
  width: 17%;
  height: calc(100vh - 2.2em);
  /*position: relative;*/
  z-index: 2;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
}

.local > input {
  width: 96% !important;
}

#page {
  background: #FFF;
  padding: 20px;
  margin: 20px;
}

#demo {
  width: 200px;
  height: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

li.liAdd {
  margin-bottom: 0.2em;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, input[text], button {
  color: rgba(0, 0, 0, 0.68);
  font-size: initial;
}

.hidden {
  display: none;
}

.leftP, .rightPanelinside, .centerP, .rightP {
  float: left
}

.rightPanelinside {
  width: 83%;
  padding: 0 !important;
  background-color: #fff;
  height: calc(100vh - 2.2em);
}

.centerP {
  width: 45%;
}

.rightP {
  width: 55%;
  border-left: 0 !important;
  background: transparent !important;
}

.panel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0 !important;
  margin: 0 0 0.25em 0 !important;
}

a {
  cursor: pointer;
}

button {
  background-color: #bfbb97;
  border: none;
  padding: 5px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.86);
}

.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.items .text {
  position: relative;
  top: -3px;
}

.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}

.items .text {
  position: relative;
  top: -3px;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}

/* everywhere else
TODO see what font to use
*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  font-weight: normal;
}

.title {
  padding: 0.1em 0.5em 0;
  width: 100%;
  font-size: 2em;
  /*font-weight: bold;*/
  color: #4C3B4E;
}

.buttonGroup {
  float: right;
  width: 1.3em;
  padding-left: 0.3em;
  background-color: white;
}

.rightMenu {
  float: right;
  margin-right: 0.5em;
  display: inline-flex;
}

.rightMenu .imgProfil {
  margin-top: 0.2em;
}

.placePanel .panel-name .primary-text {
  font-weight: bold;
  /*font-size: 1.2em;*/
  font-size: 1em;
  position: relative;
  line-height: 1em;
  padding: 3px 0 0 1.8em !important;
  word-break: break-all;
}

.expand-button {
  color: #8692a0 !important;
}

.placePanel .panel-name .primary-text:before {
  content: "\f175";
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  color: #273B54;
  top: -2px;
  position: absolute;
  left: 0;
  font-size: 1.6em;
}

.content-wrapper {
  margin: 0 0 16px 5px !important;
}

.rightPinside {
  margin-left: 10px;
  background-color: #EDF2F8;
}

.places > main, main {
  overflow: inherit !important;
}

.row {
  margin: 0.4em 0.5em 0 0.5em;
}

.imgBtn {
  height: auto !important;
  vertical-align: middle;
  cursor: pointer;
}

.header.headerplaces {
  padding: 0.7em 0 .7em 0.4em;
}

.panel.open > header {
  min-height: 2em !important;
  padding-top: 0.5em !important;
  padding-left: 0.3em !important;
}

.rightPanelinside_header {
  background: #8792A0;
  height: 2.5em;
  display: none;
}

header.closed:hover,
header.closed:focus,
header:focus,
header:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

:focus {
  outline: -webkit-focus-ring-color auto 0 !important;
}

/* style for folder*/
.text_comp {
  position: relative !important;
  margin-right: 7px;
}

.addplace input, .liAdd input {
  padding: 0 !important;
  width: calc(100% - 46px) !important
}

.text_comp input {
  background: transparent !important;
  -webkit-appearance: normal !important;
  -moz-appearance: normal !important;
  border: 0 !important;
  border-bottom: 1px solid #273B54 !important;
  color: #273B54;
  font-size: 13px;
  padding: 0;
  width: calc(100% - 57px);
}

.text_comp:after {
  content: '' !important;
  background-image: url('../images/edit_blue.png') !important;
  background-position: left top !important;
  background-repeat: no-repeat !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  position: absolute !important;
  left: calc(100% - 47px) !important;
  bottom: 0 !important;
}

.okBtn {
  vertical-align: middle;
  float: right;
}

.top-section, .baseline {
  background: white !important;
}

.basic-dialog > main {
  padding: 0 !important;
}

.basic-dialog > header {
  padding: 0 !important;
}

.baseline {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100% !important;
  background-color: white !important;
  color: #000 !important;
}

.top-section {
  border: 1px solid #c6c6c6;
  margin-bottom: 0 !important;
  background-color: white;
  /*padding: 0.52em  !important;*/
  padding: 4px 2px 7px 0;
}

main, header, footer {
  padding: 0 !important;
}

.label {
  text-align: left !important;
}

.label-text {
  font-size: 13px;
}

.profileImg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 1.8em;
  width: 1.8em;
}

.verification_user > div {
  display: inline-block;
  color: #3A579A;
  cursor: pointer;
}

.verification_user .signup {
  text-decoration: underline;
}

#signup .top-section {
  padding: 3px 2px 3px 0;
}

#signup input, #signup textarea {
  box-shadow: none;
  font-size: 12px;
  color: #505050;
}

#signup input, #signup textarea,
#forgotPass input {
  width: calc(100% - 18px);
  padding: 0 9px !important;
}

#signup .passEqual .top-section {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

#signup .passEqual input {
  color: white !important;
}

#signup .passEqual .focused-underline {
  background-color: red !important;
}

#signup .bottom-section {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.userName, .profileImg {
  vertical-align: middle;
  display: inline-block;
}

.content-wrapper, .content {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.content-wrapper {
  margin: 0 0 0 0 !important;
}

textarea {
  padding: 0.4em 0.8em !important;
  width: calc(100% - 1em) !important;
}

.btn_login {
  height: 36px;
  width: 98px;
  margin: 5px 0 15px 74px !important;
  text-transform: none !important;
  color: white !important;
  font-size: 16px !important;
}

.btn_login.is-raised {
  background: #00adef;
}

.roleChooser .imgBtn {
  cursor: pointer;
}

.role.selected img {
  opacity: 1;
}

.mail.themeable .label-text {
  padding-left: 8px !important;
}

.error-text, .hint-text, .spaceholder {
  font-size: 11px !important;
}

#labelfileupload {
  cursor: pointer;
  color: #DADFE2;
  z-index: 1;
  border-radius: 25px;
  background-color: transparent;
  font-size: 13px;
  display: block;
  position: absolute;
  top: 45%;
  width: 12em;
  left: calc(50% - 6em);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#labelfileupload:before {
  font-family: FontAwesome;
  content: "\f055";
  display: inline-block;
  left: 48%;
  position: absolute;
  font-size: 26px;
  color: #DADFE2;
  top: -34px;
}

.uploadDropZone:hover #labelfileupload:before, .uploadDropZone:focus #labelfileupload:before,
.uploadDropZone:hover #labelfileupload, .uploadDropZone:focus #labelfileupload {
  color: #727272;
}

.uploadDropZone:hover, .uploadDropZone:focus {
  background: #fff !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nomargin {
  margin: 0 !important;
  padding: 1px 0 0 0 !important;
  vertical-align: top;
}

.invites .top-section {
  padding: 2px 2px 4px 0 !important;
}

.newTopicBlock input {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  height: 2.6em;
  font-size: 0.8em;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  border: 1px solid rgba(146, 146, 146, 0.63);
  width: calc(100% - 34px) !important;
  padding: 0 20px 0 10px !important;
}

.arowmenow {
  position: relative;
  display: inline-block;
  width: calc(100% - 2.8em);
  margin-left: 0.5em;
}

.arowmenow:after, .arowmenow:before {
  right: 99.8%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arowmenow:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}

.arowmenow:before {
  border-color: rgba(146, 146, 146, 0);
  border-right-color: #989292;
  border-width: 7px;
  margin-top: -7px;
}

.newTopicBlock {
  position: relative;
  display: inline-block;
  width: calc(100% - 2.5em);
}

.files .newTopicBlock {
  width: 100%;
}

.files .arowmenow {
  width: calc(100% - 5.3em);
}

.btn_valid {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  width: 34px;
  height: 34px;
  text-align: center;
  color: #c3c3c3;
  border-top: 1px solid rgba(146, 146, 146, 0.63);
  border-bottom: 1px solid rgba(146, 146, 146, 0.63);
  border-left: 1px solid rgba(146, 146, 146, 0.63);
  border-right: 1px solid rgba(146, 146, 146, 0.63);
  cursor: pointer;
  padding: 0;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  font: normal normal normal 1.3em/1 'Material-Design-Iconic-Font';
}

.btn_valid:after {
  font-size: 1.2em;
  color: #DADFE2;
  content: '\f194';
  vertical-align: middle;
  -ms-transform: rotate(-31deg);
  -webkit-transform: rotate(-31deg);
  transform: rotate(-31deg);
  display: block;
  margin-left: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn_valid:hover {
  border-top: 1px solid rgb(70, 144, 209);
  border-bottom: 1px solid rgb(70, 144, 209);
  border-left: 1px solid rgb(70, 144, 209);
  border-right: 1px solid rgb(70, 144, 209);
}

.files .btn_valid:hover:after {
  color: #4690D1;
}

.profile_pop {
  border-radius: 0;
}

form#fileForm {
  clear: both;
  position: relative;
}

.close:hover {
  opacity: 0.7;
}

.disabledInput {
  color: rgba(0, 0, 0, 0.38);
  background-color: #00adef;
}

.disabledInput {
  color: rgba(0, 0, 0, 0.3) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  width: 96% !important;
  box-shadow: 0 7px 0 0px rgba(0, 0, 0, 0.1) !important;
  border-top: 7px solid rgba(0, 0, 0, 0.01) !important;
  margin-top: -4px !important;
}

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}

.placesPostit .postit {
  left: 17.4% !important;
  top: 30px !important;
}

.foldersPostit .postit {
  left: 17.4% !important;
  top: 113px !important;
}

.subjectsPostit .postit {
  left: 49.7% !important;
  top: 4.9em !important;
}

.filesPostit .postit {
  right: 0% !important;
  top: 20.5% !important;
  transform: rotate(0deg);
}

.commentPostit .postit {
  right: -23px !important;
  top: -4px !important;
}

material-ripple {
  font-size: .8em !important;
}

.basic-dialog.fileOpen {
  background-color: #eeeef0;
  width: 22em;
}

.basic-dialog.fileOpen .wrapper > header {
  background: #263a53;
  padding: 1em 0 !important;
  position: relative;
}

.basic-dialog.fileOpen > main, .basic-dialog.fileOpen .content {
  background: #eeeef0;
  padding: 2em;
  color: #030303;
  overflow: hidden;
}

.basic-dialog.fileOpen .fileActions {
  margin-top: 1em;
}

.fileActions_btn {
  display: inline-block;
  width: 44%;
}

.posRight {
  float: right;
}

.basic-dialog.fileOpen .btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #d9d9d9;
  padding: 5em 0.2em 1em;
  color: rgba(255, 255, 255, 0.57);
  position: relative;
  width: 100%;
  text-align: center;
  opacity: 0.7;

}

.basic-dialog.fileOpen .btn:hover, .basic-dialog.fileOpen .btn:focus {
  background-color: #00adef;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 1em 0em rgba(0, 0, 0, 0.3);
}

.basic-dialog.fileOpen .btn.material-icons:hover:after, .basic-dialog.fileOpen .btn.material-icons:focus:after {
  color: white;
}

.basic-dialog.fileOpen .fileName {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  width: 90%;
  word-break: break-all;
  line-height: 1.2;
}

.basic-dialog.fileOpen .btn {
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  cursor: pointer;
}

.btn.material-icons.lock {
  text-align: center;
}

.basic-dialog.fileOpen .btn.material-icons:after {
  position: absolute;
  top: 17%;
  left: 0;
  font-size: 3em;
  width: 100%;
  color: #eeeeee;
}

.basic-dialog.fileOpen .btn.material-icons.lock:after {
  content: '\f158';
}

.basic-dialog.fileOpen .btn.material-icons.openOnly:after {
  content: '\f15c';
}

.basic-dialog.fileOpen .btn.material-icons span {
  font-size: 0.6em;
  white-space: normal;
  line-height: 1.2em;
  width: 70%;
  display: inline-block;
}

.popupHeader {
  position: relative;
  background-color: #263a53;
  padding: 1.2em;
}

.header {
  position: relative
}

.popupHeader .close, .close {
  position: absolute;
  top: 0;
  right: 0.2em;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font' !important;
  cursor: pointer;
}

.close:after {
  content: '\f136';
  color: white;
}

.close:hover {
  opacity: 0.6;
}

.release .content {
  padding: 0.3em 0.2em !important;
  text-transform: none !important;
}

.userInfoPopup {
  min-width: 18em;
  padding: 0.7em 0.5em 0.4em 0.6em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*border: 1px solid rgba(0, 0, 0, 0.25);*/
  font-size: 0.9em;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  -moz-box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  box-shadow: 0px 0px 21px 6px rgba(120, 120, 120, 0.55);
  position: relative;

}

.shadow .popup {
  overflow: inherit !important;
}

material-popup#popVersion {
  position: absolute !important;
  top: 5em !important;
  right: 2em !important;
}

.popVersion .menuItem {
  background-color: turquoise;
}

.clearfix {
  clear: both;
}

.panel .content {
  padding-left: 0.3em;
}

.acx-overlay-container > .pane.align-y-center > * {
  position: relative !important;
}

ul {
  margin: 0;
  padding: 0;
}

.bgWhite {
  background: url("../images/bgwhite.png") no-repeat 45% 45%;
  background-size: 0.8em;
}

header.closed {
  background-color: #263a53 !important;
  color: #9ca2ab !important;
  padding-left: 0.3em !important;
}

header.closed:hover,
header.closed:focus {
  opacity: 0.9;
}

header.closed .primary-text:before {
  color: #9ca2ab !important;
}

/*.isUploading {*/
/*margin: 0.6em auto !important;*/
/*border: 1px solid #D5F0FF !important;*/
/*background-color: rgba(213, 240, 255, 0.5) !important;*/
/*}*/

.isUploading {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: auto;
  position: absolute;
  left: 8px;
  right: auto;
  top: 5px;
  bottom: auto;
}

.progress {
  width: 44px;
  height: 44px;
  position: relative;
  background-image: url(../images/ring-alt.gif) no-repeat center center;
}

.popinVersion {
  background-color: #fff;
  padding-top: 1em;
}

.popinVersion .menuItemVers {
  width: 100%;
  text-align: left !important;
  text-transform: none !important;
  color: #273B54 !important;
  font-size: 1em !important;
}

.popinVersion .content {
  padding: 0.1em 0.57em !important;
  font-size: 0.8em;
}

.popinVersion .menuItemVers i {
  margin-right: 0.5em;
  font-size: 2em;
}

.popinVersion .menuItemVers i.approve {
  color: #7FBB01;
}

.popinVersion .menuItemVers i.nnApprove {
  color: #BEBEBE;
}

.popinVersion .menuItemVers i.commentVers {
  color: #63C7FE;
}

.popinVersion .menuItemVers i.delete {
  color: #BEBEBE;
  padding-left: 0.1em;
}

.spanVers {
  /*width: 30%;*/
  text-align: center !important;
}

.placePanel .expand-button i.material-icons,
.placePanel .expand-button.expand-more i.material-icons {
  color: transparent !important;
  background: url("../images/arrowP.png") no-repeat center center !important;
  width: 2.4em !important;
}

.placePanel .expand-button i.material-icons:hover,
.placePanel .expand-button.expand-more i.material-icons:hover {
  background: url("../images/arrowPhover.png") no-repeat center center !important;
}

.forgotPass footer {
  text-align: center
}

/*_________Animation adit profile______________*/

#labelfileuploadprf {
  cursor: pointer;
  z-index: 1;
  padding-right: 45px;
  font-size: 1em;
  display: block;
  position: absolute;
  top: calc(100% - 3em);
  left: calc(50% - 3em);
  color: #bebebe;
  text-decoration: underline;
}

.spinAnim {
  width: 86px;
  height: 86px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  position: relative;
  text-align: center;
}

.spinAnimCircle {
  background-color: white;
  width: 86px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 86px;
}

#labelfileuploadprf img {
  max-width: 100%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 3;
  position: absolute;
  left: 3px;
  top: 3px;
}

.uploading .spinAnimCircle {
  background: #00adef;
  background: linear-gradient(to bottom, rgba(253, 255, 249, 1) 0%, #00adef 73%);

  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.uploading .spprof {
  color: rgba(31, 193, 255, 0.96);
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(113, 111, 111, 0.5);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(113, 111, 111, 0.5);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(113, 111, 111, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(113, 111, 111, 0.5);
}

.files ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(113, 111, 111, 0.25);
}

.files ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(113, 111, 111, 0.25);
}

.files :-ms-input-placeholder { /* IE 10+ */
  color: rgba(113, 111, 111, 0.25);
}

.files :-moz-placeholder { /* Firefox 18- */
  color: rgba(113, 111, 111, 0.25);
}

#inviteLablel .label {
  padding: 0.4em 0.8em !important;
}

.arrowLeft {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowLeft:after, .arrowLeft:before {
  right: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowLeft:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 7px;
  margin-top: -7px;
}

.arrowLeft:before {
  border-color: rgba(141, 141, 141, 0);
  border-right-color: #8d8d8d;
  border-width: 8px;
  margin-top: -8px;
}

.arrowBottom {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowBottom:after, .arrowBottom:before {
  top: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBottom:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}

.arrowBottom:before {
  border-color: rgba(141, 141, 141, 0);
  border-top-color: #8d8d8d;
  border-width: 8px;
  margin-left: -8px;
}

.arrowRight {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowRight:after, .arrowRight:before {
  left: 100%;
  top: 23px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowRight:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 7px;
  margin-top: -7px;
}

.arrowRight:before {
  border-color: rgba(141, 141, 141, 0);
  border-left-color: #8d8d8d;
  border-width: 8px;
  margin-top: -8px;
}

.arrowTop {
  position: relative;
  border: 1px solid #8d8d8d;
}

.arrowTop:after, .arrowTop:before {
  bottom: 100%;
  right: 15px;
  left: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowTop:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}

.arrowTop:before {
  border-color: rgba(141, 141, 141, 0);
  border-bottom-color: #8d8d8d;
  border-width: 8px;
  margin-left: -8px;
}

.alertInner {
  position: absolute;
  right: 1em;
  top: 2.4em;
}

.alertInner .close {
  top: -0.1em;
}

.error .notif *,
.message .notif * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error .notif,
.message .notif {
  position: relative;
  z-index: 99999;
  word-wrap: break-word;
  padding: 1em 2.7em;
  min-width: 10em;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -moz-box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  -webkit-box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  box-shadow: 0 0 12px rgba(153, 153, 153, 0.64);
  color: #FFFFFF;
  font-size: 0.85em;
  display: block;
  margin-bottom: 0.3em;
  transition: opacity .3s linear;
}

.error .notif:hover,
.message .notif:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  cursor: pointer;
  transition: opacity .3s linear;
  opacity: 0.9;
}

.error .notif {
  background-color: #BD362F;
}

.message .notif {
  background-color: #51A351;
}

material-button.btn_login.submitbottom.is-raised .content {
  padding: 0.6em 0.57em;
}

material-button.menuItem.profile .content, material-button.menuItem.logout .content {
  padding: 3px 0 3px 6px;
}

#login input {
  width: calc(100% - 14px) !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

/*@media only screen and (max-width: 992px) {*/
/*.leftP, .rightPanelinside {*/
/*width: 100%;*/
/*}*/

/*.leftP {*/
/*height: auto;*/
/*}*/

/*.rightMenu {*/
/*margin-right: 0.2em;*/
/*}*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*.centerP, .rightP {*/
/*width: 100%;*/
/*}*/

/*}*/

input {
  /*width: calc(100% - 20px) !important;*/
  /*padding: 1px 5px 0 9px !important;*/
}

.renameDiv input {
  width: calc(100% - 28px) !important;
}

/************************************/

.addBtn {
  font-family: 'Material-Design-Iconic-Font';
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.addBtn:before {
  font-size: 2.3em;
  color: rgba(255, 255, 255, 0.5);
  content: '\f276';
}

/**********/
.headerplaces .addBtn:before {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
}

.headerplaces .addBtn:hover:before {
  color: rgba(237, 242, 248, 0.86);
}

.headerplaces .addBtn:active:before {
  color: rgba(237, 242, 248, 1);
}

/**********/

.folders .addBtn:before {
  font-size: 1.8em;
  /*color: rgba(255, 255, 255, 0.5);*/
  color: rgba(39, 59, 84, 0.28) !important;
  content: '\f276';
}

.folders .addBtn:hover:before {
  color: rgba(52, 113, 170, 0.77) !important
}

.folders .addBtn:active:before {
  color: rgba(52, 113, 170, 0.9) !important
}

/**********/
.subjects .addBtn:before {
  color: rgba(255, 255, 255, 0.5);
}

.subjects .addBtn:hover:before {
  color: rgba(237, 242, 248, 0.86);
}

.subjects .addBtn:active:before {
  color: rgba(237, 242, 248, 1);
}

#inputSym .input-container {
  margin-top: 1px;
  margin-bottom: -1px;
}

#signup .input-container {
  margin-top: 1px;
  margin-bottom: 3px;
}

.btn_login.is-raised > .content {
  padding: 0.6em 0.57em !important;
}

/*_____ spinner ______________*/

.spinnerInner {
  margin: 0 auto !important;
  text-align: center !important;
}

#changeRoleUsers .roleChooser role-item {
  background: none !important;
}

#changeRoleUsers .roleChooser role-item.owner {
  background: url("../images/tiret-black-long.png") no-repeat right 50% !important;
}

#changeRoleUsers .roleChooser role-item.delete {
  background: url("../images/tiret-black-long.png") no-repeat left 50% !important;
}

#changeRoleUsers .roleChooser role-item.viewer,
#changeRoleUsers .roleChooser role-item.writer {
  background: url("../images/tiret-black.png") repeat-x center center !important;
}

#changeRoleUsers .changeRoleUsersbody .roleChooser role-item {
  width: 25%;
}

#changeRoleUsers .roleChooser role-item.delete {
  display: block;
}

#changeRoleUsers .roleChooser role-item.owner,
#changeRoleUsers .roleChooser role-item.viewer {
  text-align: center;
}

#changeRoleUsers material-button.submitbottom.btn_login.is-raised {
  background: #00adef;
  background-image: none;
  padding-left: 30px;
  padding-right: 30px;
}

/* _ _ __ _ _ _ __ _ _ */
.addTopicBtn {
  font-family: 'Material-Design-Iconic-Font';
  margin-left: -0.1em;
  width: 2.1em;
  height: 2.1em;
  line-height: 2em;
  border: 1px solid rgba(146, 146, 146, 0.63);
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  cursor: pointer;
  float: right;
}

.addTopicBtn:before {
  color: #dde2e5;
  content: '\f221';
  font-size: 1.7em;
}

.addTopicBtn:hover {
  border-color: #4690D1;
}

.addTopicBtn:hover:before {
  color: #4690D1;
}

#inviteUsers input {
  width: calc(100% - 12px) !important;
  padding: 0 6px !important;
}

.versionComment {
  padding: 0.6em 0;
}

/* Help */

.u-userBackgroundColor:not(disabled),
.u-userBackgroundColor:not(disabled),
.u-userBackgroundColor:not(disabled) {
  background-color: red !important;
}

/*__________________*/

@media only screen and (max-width: 480px) {

  .leftP, .rightPanelinside {
    width: 100%;
  }

  .leftP {
    height: auto;
  }

  .rightMenu {
    margin-right: 0.2em;
  }

  .centerP, .rightP {
    width: 100%;
  }

  .alertInner {
    right: 0;
    top: 2.8em;
  }

  body {
    font-size: 1em;
  }

  .rightPinside {
    margin-left: 0;
  }

  li.subjectItem {
    border-left: 0 solid #EDF2FB;
  }

  .newTopic {
    padding: 1em 0.6em;
    margin: 0;
  }

}

