<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <% if (message.length > 0) { %>
        <div class="alert alert-info"><%= message %></div>
    <% } %>
    <h3>Reset Password</h3>
   <div class="jumbotron ">
     <form action="/forgot" method="post">
      <div class="form-group">
            <label for='email'>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
   <button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
 
 </form>
</div>
</div>
</div>
</body>
</html>
