h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.router-link-active {
  color: #039be5;
}

.header {
  position: relative;
  width: 100%;
  background-color: #4e394c;
  padding: 2em 0 0 2em;
  top: 0;
}

.content {
  background: white;
  padding: 1em;
  margin: 1em 0;
}

.files,
.rightBp {
  background-color: #F0F0F0;
}

.logo {
  height: 2.2em;
  padding-left: 0.4em;
}

.title {
  position: absolute;
  left: 120px;
  top: 20px;
  color: white;
}

.topP {
  height: 30%;
  min-height: 10em;
  border-bottom: 2px solid cornflowerblue;
}

.leftP {
  background-color: #252c3f;
}

.news {
  min-height: 15em;
  padding-bottom: 0.5em;
}

.basic-dialog > main {
  padding: 0 !important;
}

.connectUsername {
  margin: 4px 6px 6px;
  font-weight: bold;
  color: #273B54;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.popupHeader.connectUsername {
  padding: 0;
}

.logout, .profile {
  width: 100% !important;
}

.logout_chmp, .profile_chmp {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.logout_chmp:before {
  font-family: FontAwesome;
  content: "\f08b";
  font-size: 20px;
  font-weight: normal;
  color: #263a53;
  vertical-align: middle;
  margin-right: 5px;

}

material-button .content {
  padding: 0.4em 0.57em !important;
}

material-button.menuItem.profile, material-button.menuItem.logout {
  width: 100%;
  text-decoration: none;
  text-transform: lowercase;
  text-align: left;
  color: #273B54;
}

/*[_nghost-dkp-7]:not([icon]) .content {*/
[_nghost-dkp-7]:not([icon]) .content {
  padding: 0.2em 0.4em !important;
}

.connectUsername {
  background: url("../images/tiret-black.png") repeat-x center center;
}

.connectUsername span {
  background: white;
  padding-right: 0.5em;
  display: inline;
}

.btnHeader {
  -webkit-app-region: no-drag;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  color: #D1D1D1;
  font: normal normal normal 1.1em/1 'Material-Design-Iconic-Font';
  display: inline-block;
  vertical-align: middle;
}

.btnsWindow {
  margin-left: 3em;
}

.btnHeader.minus:before,
.btnHeader.window-maximize:before,
.btnHeader.closeWind:before {
  color: #eeeeee;
}

.btnHeader.minus:before {
  content: '\f1eb';
  vertical-align: super;
}

.btnHeader.window-maximize:before {
  content: '\f1ea';
}

.btnHeader.closeWind:before {
  content: '\f136';
}

.imgProfil img {
  -webkit-app-region: no-drag;
}

.btnHeader:hover:before {
  color: #8792A0;
}

.header-top {
  position: relative;
  z-index: 1001;
  width: 100%;
  height: 2.2em;
  background-color: #1F181F !important;
  padding: 0 !important;
  -webkit-app-region: drag;
}

.desktopVersion {
  color: #E0E0E0;
  position: absolute;
  top: 10px;
  left: auto;
  margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
}

.header-top .logo_header,
.header-top .desktopVersion,
.header-top .btnsWindow {
  display: inline-block !important;
}