h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.logo_header {
  padding: 0.8em 0;
  width: 100%;
}

.logo {
  background: url("../images/logo_sharePlace.png") no-repeat;
  height: 52px;
  width: 43px;
  margin: 0 auto;
  /* TRANSITION */
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}

.logo:hover {
  background: url("../images/logo_hover.png") no-repeat;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.router-link-active {
  color: #039be5;
}

.header {
  position: relative;
  width: 100%;
  background-color: #4e394c;
  padding: 2em 0 0 2em;
  top: 0;
}

.content {
  padding: 1em;
  margin: 1em 0;
}

.title {
  position: absolute;
  left: 120px;
  top: 20px;
  color: white;
}

.topP {
  height: 30%;
  min-height: 10em;
  border-bottom: 2px solid cornflowerblue;
}

.resizeTopElectron {
  position: relative;
  background-color: #1F181F;
  -webkit-app-region: no-drag !important;
  width: 100%;
  height: 3px
}

.header-top {
  position: relative;
  z-index: 1001;
  background-color: #1F181F;
  -webkit-app-region: drag;
  /*height: 1.5em;*/
  /*padding: 0.3em 0.5em 0.4em 0.5em;*/
  /*width: calc(100% - 1em);*/
  height: 31px;
  padding: 5px 8px 0 8px;
  width: calc(100% - 16px);
}

.leftHeader {
  width: calc(100% - 4.7em);
  float: left;
  vertical-align: middle;
}

.inputCopyUrl {
  width: calc(100% - 2em);
  background-color: transparent;
  border: 0;
  color: #6f6666;
  -webkit-app-region: no-drag !important;
  font-size: 14px;
}

.labelHeader {
  background-color: #312b31;
  line-height: 1.2;
  height: 1.3em;
  padding: 0.2em 0.5em 0.2em 0.2em;
  display: block;
  vertical-align: middle;
  font-family: 'robotoregular';
  color: #6f6666;
  font-size: 15px;
  font-weight: 500;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.titleHeader {
  color: #817D8F;
  float: left;
  margin-right: 0.7em;
  font-size: 0.9em;
  vertical-align: middle;
  margin-top: 3px;
}

.copyIcon {
  float: right;
  -webkit-app-region: no-drag;
  position: relative;
  z-index: 99999;
  /*line-height: 1.6;*/
}

.copyIcon, .openDesktopApp {
  font-family: 'Material-Design-Iconic-Font';
}

.copyIcon:after {
  color: #C5C1D2;
  content: '\f237';
  margin-left: 0.4em;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

.openDesktopApp {
  position: relative;
  margin: 0 10px 0 0;
  text-decoration: none;
  display: inline-block !important;
  vertical-align: middle;
}

.copyIcon:hover:after {
  color: #fff;
}

.openDesktopApp:after {
  content: '\f1a3';
  color: #C5C1D2;
  font-size: 1.3em;
  font-weight: normal;
  cursor: pointer;
}

.openDesktopApp:hover:after {
  color: #fff;
}

.news {
  min-height: 15em;
  padding-bottom: 0.5em;
}

.basic-dialog > main {
  padding: 0 !important;
}

.connectUsername {
  margin: 4px 6px 6px;
  font-weight: bold;
  color: #273B54;
  font-size: 15px;

}

.popupHeader.connectUsername {
  padding: 0;
}

.logout, .profile {
  width: 100% !important;
}

.logout_chmp, .profile_chmp .search_chmp {
  position: relative;
  font-size: 1em;
}

.logout_chmp:before {
  font-family: FontAwesome;
  content: "\f08b";
  font-size: 20px;
  font-weight: normal;
  color: #263a53;
  vertical-align: middle;
  margin-right: 5px;

}

material-button .content {
  padding: 0.4em 0.57em !important;
}

material-button.menuItem.profile, material-button.menuItem.logout {
  width: 100%;
  text-decoration: none;
  text-transform: lowercase;
  text-align: left;
  color: #273B54;
}

.btnHeader {
  -webkit-app-region: no-drag;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  color: #D1D1D1;
  font: normal normal normal 1.1em/1 'Material-Design-Iconic-Font';
  display: inline-block;
  vertical-align: middle;
}

.btnsWindow {
  margin-left: 3em;
}

.btnHeader.minus:before,
.btnHeader.window-maximize:before,
.btnHeader.closeWind:before {
  color: #eeeeee;
}

.btnHeader.minus:before {
  content: '\f1eb';
  vertical-align: super;
}

.btnHeader.window-maximize:before {
  content: '\f1ea';
}

.btnHeader.closeWind:before {
  content: '\f136';
}

.imgProfil img {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.btnHeader:hover:before {
  color: #8792A0;
}

.desktopVersion {
  color: #817D8F;
  font-size: 15px;
  font-weight: 500;
}

.header-top .logo_header,
.header-top .desktopVersion,
.header-top .btnsWindow {
  display: inline-block !important;
  height: auto;
  vertical-align: top;
}

.rightPanelInsideHeader {
  text-align: right;
  background: #3697FF;
  width: calc(100% - 16px);
  padding: 0 8px;
  height: 40px;
}

.rightPanelInside:after {
  width: 20px;
  position: fixed;
  right: -15px;
  top: 35px;
  height: 41px;
  background-color: #3697FF;
  content: '';
}

.appElectron .leftHeader {
  width: calc(100% - 12.7em);
}

.appElectron .rightMenu {
  width: 12em;
}

.appElectron .btnsWindow {
  margin-left: 1em;
}

/*__________ header electron sur Mac ________*/

.appElectron.mac .leftHeader {
  width: calc(100% - 6.8em);
  padding-left: 4.2em;
}

.appElectron.mac .rightMenu {
  width: 2em;
}

.breadCrumbContent {
  text-align: left;
  width: 100%;
  overflow: hidden;
  height: 40px;
  line-height: 37px;
}

.hideTree {
  visibility: hidden;
}

.hideHeaderTop.header-top .rightMenu {
  opacity: 0.5;
}

.hideHeaderTop.header-top .rightMenu .imgProfil {
  opacity: 0;
}

.hideHeaderTop.header-top .rightMenu .imgProfil img {
  cursor: default;
}

/*__________________*/
@media only screen and (max-width: 1200px) {

  .rightPanelInsideHeader {
    padding: 0 0.2em;
    width: calc(100% - 0.4em);
    height: 2.25em;
  }

  .breadCrumbContent {
    line-height: 34px;
  }

  .rightPanelInside:after {
    right: -18px;
    height: 36px;
  }
}

