.label:first-letter {
  text-transform: uppercase
}

.places {
  margin: 0 0.1em 2em 0;
  list-style-type: none;
  padding: 0;
  border-bottom: 0.3em white;
}

.places li {
  cursor: pointer;
}

.addplace {
  list-style-type: none;
  background-color: rgba(76, 67, 98, 0.60);
  padding: 7px 5px 16px 5px;
  color: #000;
  border-radius: 3px;
  margin-bottom: 0.1em;
}

.places .text {
  padding: 0.5em;
}

.places .badge {
  display: none;
}

button:hover {
  background-color: #cfd8dc;
}

.placeItem {
  width: calc(100% - 1em);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(192, 161, 107, 0.46);
  border-radius: 0 0.3em 0.3em 0;
  margin: 0.5em 0;
  padding: 0.3em;
}

.placeItem > span {
  padding-left: 0.5em;
}

.panel-name {
  padding-right: 0px;
  width: 100%;
  font-weight: bold !important;
  font-size: 16px !important;
}

.placePanel .material-icons {
  font-size: 5em !important;
}

input {
  padding: 0 0 0 0 !important;
}

.iconsRight {
  float: right;
}

.placePanel {
  position: relative;
}

header.closed .notifPlace {
  z-index: 999;
}

.placesInner {
  width: calc(100% - 10px)
}

.folderItem.active, .folderItem.selected {
  text-decoration: none;
  background-color: #26C875;
  color: white;
}

.folderItem {
  color: #fff;
  margin-bottom: 0.1em;
  position: relative;
  font-weight: normal;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  padding: 0.2em 0.2em 0.2em 0.4em;
}

.folder-name {
  display: inline-block;
  /*width: calc(100% - 7em);*/
  /*max-width: calc(100% - 7em);*/
  width: calc(100% - 4em);
  max-width: calc(100% - 4em);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  font-family: 'nexa_boldregular';
  font-size: 1.1em;
}



@media only screen and (max-width: 1200px) {
  .folder-name  {
    font-size: 0.9em;
  }
}