#login {
  background: #EEEEF0;
  width: 37em;
  clear: both;
}

.panels {
  padding: 2em 2em 0;
  position: relative;
  clear: both;
  overflow: initial;
}

.changePass {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 1em 0;
  color: #273B54;
  z-index: 999;
}

.title {
  color: #fff;
  float: left;
  width: 80%;
  padding: 0;
  font-size: 1.6em;
}

.close {
  float: right;
  cursor: pointer;
}

.header {
  background-color: #262D40;
  padding: 1em 1em 0;
}

/* drag and drop */
.uploadFile {
  padding: 1em 0 2em !important;
}


.skype.bottom_input {
  right: 27px;
}

.spprof {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before, .dragdrop_profil:hover #labelfileuploadprf,
.dragdrop_profil:focus #labelfileuploadprf {
  color: white;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.local {
  width: calc(51% - 21px);
  display: inline-block;
  padding-right: 21px;
  overflow: hidden;
}

.social {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 3%;
  border-left: 1px solid rgba(86, 86, 86, 0.17);
}

/****/
.changeMail {
  cursor: pointer;
  position: relative;
}

.changeMail:after {
  float: right;
  content: '' !important;
  background-image: url('../images/edit_blue.png') !important;
  background-position: left top !important;
  background-repeat: no-repeat !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  margin-right: 15px;
}

.socialBtn {
  color: white;
  display: inline-block;
  font-size: 23px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  margin-left: 0.2em;
}

.socialBtn, .socialBtn:focus {
  box-shadow: 2px 2px 3px 0 rgba(26, 74, 76, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.facebook {
  background-color: #3A579A;
}

.google {
  background-color: #DF4A32;
}

.label {
  font-weight: bold;
  font-size: 0.9em;
}

.btnvalidat {
  text-align: center;
}

.bottom_input {
  position: absolute;
  bottom: -4em;
}

.social .line {
  vertical-align: middle;
  margin-bottom: 3.3em;
  text-align: right;
}

.social .line span {
  text-align: left;
}

.btn_login {
  margin: 4em 0 2em 0 !important;
}

.passwordZone {
  margin-bottom: 1.5em;
}

main, header, footer {
  background-color: #00adef !important;
}

.email {
  position: relative;
}

.changeMail {
  position: absolute;
  top: 36%;
  right: -20px;
}

fieldset {
  border: 1px solid rgba(39, 59, 84, 0.18) !important;
}

material-input {
  padding: 1px 0 !important;
}


.nameConnected {
  color: #333;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.logLeft, .socialBtn {
  display: inline-block;
  vertical-align: middle;
}

.socialBtn {
  width: 1.5em;
}

.logLeft {
  width: calc(100% - 4.8em);
  line-height: 1.3;
}

.line {
  width: 100%
}

.loggedIn .log {
}

