#login {
  background: #f4f4f4;
  width: 30em;
  clear: both;
}

.panels {
  padding: 0 2em 1.5em;
  position: relative;
  clear: both;
  overflow: initial;
}

.changePass {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #3697FF;
  z-index: 9;
  line-height: 2;
  position: absolute;
  top: calc(50% - 1em);
  right: -1em;
}

.top-section {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.title {
  color: #000;
  display: inline-block;
  /*float: left;*/
  width: 50%;
  padding: 0;
  font-size: 2em;
}

.close {
  float: right;
  cursor: pointer;
}

.header {
  background-color: #f4f4f4;
  padding: 1em 1.1em 0;
}

/* drag and drop */
.uploadFile {
  padding: 1em 0 1em !important;
}

.passEqual .label {
  color: rgba(255, 0, 0, 0.8) !important;
}

.changeImg, .changePass, .changeMail {
  background-color: #BEBEBE;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: inherit;
}

.changeImg {
  background-color: #3697FF;
  position: absolute;
  top: 4.5em;
  right: 2.9em;
}

.email .changeImg {
  right: -0.9em;
}

.changeImg:before,
.changePass:before,
.changeMail:before {
  font-family: 'Material-Design-Iconic-Font';
  color: white;
  font-size: 1.2em;
  content: '\f158';
}

material-input.mail {
  width: 90%;
}

.hidden {
  display: block;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before, .dragdrop_profil:hover #labelfileuploadprf,
.dragdrop_profil:focus #labelfileuploadprf {
  color: white;
}

.dragdrop_profil:hover #labelfileuploadprf:before, .dragdrop_profil:focus #labelfileuploadprf:before {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.changeMail {
  cursor: pointer;
  position: absolute;
  top: 34%;
  right: -12px;
}

.modal-footer {
  text-align: center;
  margin: 18px 0 3px;
}

.socialBtn {
  color: white;
  display: inline-block;
  font-size: 23px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5em;
}

.socialBtn, .socialBtn:focus {
  box-shadow: 2px 2px 3px 0 rgba(26, 74, 76, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.facebook {
  background-color: #3A579A;
}

.google {
  background-color: #DF4A32;
}

.label {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 3px;
}

.userName {
  width: 100%;
}

#login input {
  width: calc(100% - 12px) !important;
}

.social .line {
  vertical-align: middle;
  margin-bottom: 3.3em;
  text-align: right;
}

.social .line span {
  text-align: left;
}

main, header, footer {
  background-color: #3697FF !important;
}

.email {
  position: relative;
}

material-input {
  padding: 1px 0 !important;
  width: 100%;
}

.nameConnected {
  color: #333;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
}

.logLeft, .socialBtn {
  display: inline-block;
  vertical-align: middle;
}

.socialBtn {
  width: 1.5em;
}

.logLeft {
  width: calc(100% - 4.8em);
  line-height: 1.3;
}

#labelProfileComp {
  cursor: pointer;
  z-index: 1;
  padding-right: 45px;
  font-size: 1em;
  display: block;
  position: absolute;
  top: 1.2em;
  left: calc(50% - 4em);
  color: #000;
  text-decoration: underline;
}

.uploadImgprofil {
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #EEEEF0;
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
}

.uploadImgprofil img {
  width: 100%;
  height: auto;
  border: 1px solid #EEEEF0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img#cropping {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.logout {
  margin: 2em 0 0 0;
  background-color: white;
  border: 2px solid #3697FF;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.logout:before {
  color: #3697FF;
  font-size: 1.5em;
  font-family: FontAwesome;
  content: "\f08b";
  position: absolute;
  left: 9px;
  top: 4px;
}

.btn_login.save {
  border: 2px solid #3697FF;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0 32px 0 0;
  border-right: 1px solid rgba(211, 211, 211, 0.33);
  position: relative;
}

.btn_login.save:disabled {
  background-color: rgba(181, 181, 181, 0.99) !important;
  color: #D2D2D2;
  border-color: rgba(181, 181, 181, 0.99);
  cursor: not-allowed;
}

.changePass.clicked, .changeMail.clicked {
  background-color: #3697FF;
}

.changeImg.clicked:before, .changePass.clicked:before {
  color: white;
}
