/**
 * Comments were generated thanks to : http://www.cssarrowplease.com/
 */

.files {
  background-color: #edf2f8 !important;
}

.files .title {
  background-color: #4690D1 !important;
  width: calc(100% - 20px);
  font-size: 1em;
  color: #fff;
  font-weight: normal !important;
  height: 38px;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
}

.title {
  font-weight: normal !important;
}

ul {
  padding: 0;
}

.rightDetails {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.line a {
  display: inline-block;
  text-decoration: none;
}

.file {
  width: 100%;
  clear: both;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  overflow: hidden;
  padding: 0;
}

.file > div {
  display: inline-block;
}

.fileDesc {
  position: relative;
  /*padding-top: 0.7em;*/
  /*padding-bottom: 0.5em;*/
  width: 100%;
}

.thumb {
  /*width: 100px;*/
  /*height: 70px;*/
  display: inline-block;
}

.fileProps {
  display: block;
  vertical-align: top;
  word-break: break-all;
}

.date {
  display: inline-block;
  padding-right: 0.5em;
}

.profileImg {
  width: 28px;
  height: 28px;
  display: inherit;
  /*vertical-align: bottom;*/
  background-color: white;
}

.fileName {
  text-decoration: none;
  line-height: 1.1;
  word-break: break-all;
  font-size: 1.2em;
}

.fileLink {
  cursor: pointer;
  font-weight: bold;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.version {
  color: #727272;
  font-size: 14px;
  padding: 0.7em 0.4em;
  /*transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);*/
  transition: transform 1s ease;

}

.moreActions {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 0.2em 0 0.1em;
  color: #191999;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  z-index: 999;
  position: relative;
  opacity: 0;
  transition: all 0.2s;
}

.moreActions:after {
  font-size: 1.3em;
  width: 100%;
  content: '\f19b';
}

.selected {
  /*background-color: #E5F2FA;*/
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.newTopic {
  padding: 1.3em;
  background: #dde2e5;
}

.newComment {
  width: calc(100% - 30px) !important;
}

a {
  color: #00AEF0;
}

.actionList {
  list-style-type: none;
}

.actionBlock {
  clear: both;
  position: relative;
  padding: 0.1em 0;
}

.author {
  display: block;
}

.author .profileImg {
  display: inline !important;
}

.comment {
  display: inline-block;
  padding: 0.2em;
  width: calc(100% - 17em);
  color: rgba(0, 0, 0, 0.85);
  margin: 2px;
  margin-left: 10px;
}



.comm-ts, .action-ts {
  margin-top: 2px;
  font-size: 9px;
  color: #B5B5B5;
  display: block;
  line-height: 9px;
  letter-spacing: -0.3px;
}

.disabled {
  opacity: 0.2;
}

.version .header a {
  color: black;
  text-decoration: underline;
}

.version .header {
  position: relative;
  color: black;
  height: 2em;
}

.versionTitle {
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 0.5em;
  background: white;
  color: #727272;
  font-size: 1em;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  /*margin-bottom: 4px;*/
  border-bottom: 1px solid #e6e6e6;
}

.versionTitle > div {
  display: inline-block;
  vertical-align: middle;
}

.versionTitle .toggleVersion {
  font-family: FontAwesome;
  height: 5px;
}

.version .header .left {
  background-color: white;
  z-index: 2;
  position: absolute;
  display: inline-block;
  padding-right: 0.5em;
}

.version .header .right {
  background-color: white;
  z-index: 2;
  position: absolute;
  display: inline-block;
  padding: 0 1.5em 0 0.5em;
  right: 2em;
}

.toggleVersion {
  float: right;
  z-index: 2;
  font-size: 2em;
  color: #727272;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.versions li {
  list-style-type: none;
  /*margin-bottom: 0.4em;*/
}

.addCommentBlock {
  margin-left: 1em;
  padding: 1em 0;
  float: left;
}

.versionComments {
  transition: all 1s;
}

.versionComments .addCommentBlock {
  margin-bottom: 2em;
}

.uploadStatus {
  position: absolute;
  left: -13px;
  top: -13px;
  z-index: 9;
  opacity: 0.7;
}

.isUploading {
  height: 0.8em;
  width: 30%;
  padding: 0;
  margin: auto;
  border: 1px solid;
  border-radius: 2px;
}

.progress {
  height: 0.8em;
  width: 10%;
  border-radius: 2px;
  margin: 0;
  animation: nomAnim;
  animation-iteration-count: 100;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.bubble {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 5.7em);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.2em 0.5em;
  border: 1px solid #d3d3d3;
  background: #fff;
  color: #000;
  min-height: 1.8em;
}

.bubbleContent {
  /*background: yellow;*/
  display: inline;
}

.pLeft, .fileMoreActions {
  display: inline-block;
}

.pLeft {
  /*background-color: pink;*/
}

.fileMoreActions {
  width: 4em;
  vertical-align: top;
  text-align: right;
}

.pLeft:hover,
.pLeft:focus {
  cursor: pointer;
}

.actionBlock:hover .bubbleContent .moreActions,
.actionBlock:focus .bubbleContent .moreActions,
.actionBlock.selected .bubbleContent .moreActions,
.moreActions:hover,
.moreActions:focus,
.moreActions.active {
  opacity: 1;
}

.bubbleContent:after, .bubbleContent:before {
  right: 100%;
  top: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bubbleContent:after {
  border-color: rgba(250, 250, 250, 0);
  border-right-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}

.bubbleContent:before {
  border-color: rgba(230, 230, 230, 0);
  border-right-color: #d3d3d3;
  border-width: 8px;
  margin-top: -8px;
}

li.more > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0em 0.5em;
  border-radius: 0.2em;
  margin: 0.5em 0;
  cursor: pointer;
}

li.more {
  text-align: center;
}

.menuItem {
  display: block;
  text-transform: initial;
}

.popupContent {
  overflow: hidden;
  padding: 0.2em;
}

.lockBlock .bubble {
  color: #fff;
  border: 1px solid #b2b6bb;
  background-color: #909EAA;
}

.lockBlock .bubbleContent:before {
  border-right-color: #b2b6bb;
}

.lockBlock .bubbleContent:after {
  border-right-color: #909EAA;
}

.lockBlock .lockIcon {
  background-color: #FFF;
  color: #909EAA;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  text-align: center;
  width: 1.1em;
  height: 1.1em;
  line-height: 0.9em;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5em;
  /*float: right;*/
}

.lockBlock .lockIcon:after {
  font-size: 0.8em;
  width: 100%;
  content: '\f158';
}

.approveBlock .approveIcon {
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5em;
}

.approveBlock .approveIcon:after {
  font-size: 1.2em;
  width: 100%;
  content: '\f269';
  color: #7ebb01;
}

.lockTime {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

.lockText {
  color: #fff;
  font-weight: bold;
}

.fileThumb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  width: auto;
  height: auto;
  border: 1px solid rgba(153, 153, 153, 0.41);
  position: relative;
}

.fileThumb img {
  max-width: 100%;
  height: auto;
}

.locked .fileThumb .fileThumb_bg:after {
  content: "";
  background: url("../images/pen_locked.png") no-repeat center center;
  top: calc(50% - 18px);
  width: 36px;
  height: 36px;
  position: absolute;
  display: inline-block;
  text-align: center;
  opacity: 1;
  z-index: 99 !important;
  left: 0;
  right: auto;
  margin-left: calc(50% - 18px);
}

.locked .fileThumb .fileThumb_bg:before {
  content: '';
  background: rgba(164, 163, 132, 0.7);
  bottom: 0;
  top: 0;
  opacity: 0;
}

/*.fileThumb .fileThumb_bg:after {*/
/*content: "";*/
/*background: url("../images/valid_big.png") no-repeat center center;*/
/*top: 0;*/
/*right: 0;*/
/*width: 27px;*/
/*height: 27px;*/
/*position: absolute;*/
/*display: inline-block;*/
/*line-height: 0;*/
/*text-align: center;*/
/*opacity: 0;*/
/*margin-left: calc(99% - 27px);*/
/*z-index: 99 !important;*/
/*}*/
.fileThumb .fileThumb_bg {
  width: 60px;
  height: 55px;
  cursor: pointer;
  font: normal normal normal 2em/0 'Material-Design-Iconic-Font';
}

.fileThumb .fileThumb_bg:after {
  position: absolute;
  top: 0.4em;
  right: -0.4em;
  font-size: 1.1em;
  color: #7ebb01;
  content: '\f269';
  opacity: 0;
  z-index: 99 !important;
}

.thumbnail {
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.locked .fileThumb .fileThumb_bg:before, .locked .fileThumb .fileThumb_bg:after, .approved .fileThumb .fileThumb_bg:after {
  opacity: 1;
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*z-index: 1;*/
  /*-webkit-transition: 0.3s;*/
  /*-o-transition: 0.3s;*/
  /*transition: 0.3s;*/
}

.approved .fileThumb .fileThumb_bg img {
  opacity: 1 !important;
}

.icons {
  float: right;
  vertical-align: baseline;
}

.arrowbottom {
  font-size: 30px;
}

.fileInfo {
  font-size: 1em;
}

.menuItem {
  border-bottom: 1px solid #cacaca !important;
}

.actionPropsBlock {
  width: 3em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0 0.5em;
}

.rightdesc {
  display: inline-block;
  /*width: calc(100% - 4em);*/
  vertical-align: middle;
  position: relative;
}

.fileSize, .filetypedoc {
  display: inline-block;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1;
}

.fileversion {
  background-color: #1A1A99;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  letter-spacing: -0.5px;
  margin: 0;
}

/*____________________isActionOn _____________*/

.isActionOn .lockBlock .lockIcon {
  background-color: #F2542F;
  color: white;
}

.constructText {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
}

.isActionOn .lockBlock .release,
.isActionOn .lockBlock .lockIcon {
  background-color: #F2542F;
  color: white;
}

.isActionOn .lockBlock .release {
  color: white;
  background-color: #00ADEF;
  display: inline-block;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  font-family: roboto;
  cursor: pointer;
  float: right
}

.ownAction.isActionOn .lockBlock .lockIcon {
  background-color: #00ADEF;
}

.progress {
  background-color: yellow !important;
}

@keyframes nomAnim {
  from {
    background-color: #9D7E90;
    margin-left: 0%;
  }
  50% {
    background-color: #BFBB97;
    margin-left: 90%;
  }
  to {
    background-color: #9D7E90;
    margin-left: 0%;
  }
}

/*____________________ownAction______________*/

.ownAction .bubbleContent:after {
  border-color: rgba(250, 250, 250, 0);
  border-left-color: #D5F0FF;
}

.ownAction .bubbleContent:before {
  border-color: rgba(230, 230, 230, 0);
  border-left-color: rgba(0, 0, 0, 0.25);
  border-width: 8px;
  margin-top: -8px;
}

.ownAction .bubbleContent:after,
.ownAction .bubbleContent:before {
  right: 0;
  left: 100%;
}

.ownAction .author {
  display: none;
}

.ownAction .actionPropsBlock {
  float: right;
}

.ownAction .actionBlock {
  text-align: right;
}

.ownAction .actionBlock .fileProps {
  text-align: left;
}

.ownAction .bubble {
  background: #D5F0FF;
}

.ownAction .lockBlock .bubble {
  background-color: #909EAA;
}

.ownAction .lockBlock .bubbleContent:before {
  border-left-color: #b2b6bb;
}

.ownAction .lockBlock .bubbleContent:after {
  border-left-color: #909EAA;
}

.ownAction .fileSize, .ownAction .filetypedoc {
  color: rgba(0, 0, 0, 0.25)
}

.ownAction .actionBlock.lockBlock .approveIcon,
.ownAction .actionBlock.lockBlock .lockIcon {
  float: left;
  margin-right: 0.5em;
  margin-left: 0;
  margin-top: 0.1em;
}

.ownAction .actionBlock.lockBlock .constructText {
  float: right;
  line-height: 2;
  padding-top: 0.3em;
}