form#fileForm {
clear: both;
position: relative;
}

.headerFiles {
  /*border-bottom: 1px solid #BEBEBE;*/
  margin-bottom: 0;
  padding: 0.9em 1em 0;
  width: calc(100% - 2em);
}

.files {
  position: relative;
}

.files .title {
  color: #000;
  font-weight: normal !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 2em);
  display: inline-block;
  font-family: 'nexa_boldregular';
}

.icons {
  width: 2em;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.icons:after {
  /*content: '\f160';*/
  /*font-family: 'Material-Design-Iconic-Font';*/
  content: '';
  background: url("/images/filter-outline.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 21px;
  top: 12px;
}

.title {
  font-weight: normal;
}

ul {
  padding: 0;
}

.rightDetails {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: calc(100% - 5.9em);
}

.line a {
  display: inline-block;
  text-decoration: none;
}

.file {
  width: calc(100% - 1em);
  clear: both;
  overflow: hidden;
  padding: 0 0 0 1em;
}

.file > div {
  display: inline-block;
}

.fileDesc {
  position: relative;
  width: 100%;
}

.thumb {
  display: inline-block;
}

.fileProps {
  display: block;
  vertical-align: top;
  word-break: break-word;
}

.date {
  display: inline-block;
  padding-right: 0.5em;
}

.profileImg {
  width: 2em;
  height: 2em;
  display: inherit;
  background-color: white;
}

.fileName {
  text-decoration: none;
  line-height: 1.1;
  /*word-break: break-word;*/
  font-size: 1.1em;
  min-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 33em;
  /*white-space: nowrap;*/
  width: 100%;
  font-family: 'robotobold';
}

.fileLink {
  font-weight: bold;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.version {
  color: #727272;
  font-size: 14px;
  padding: 0 0 0 0.4em;
  transition: transform 1s ease;
  position: relative;
}

.liVersion {
  /*border-bottom: 1px solid rgba(221, 226, 229, 0.17);*/
}

.liVersion.closeIt {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.moreActions {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 0.2em 0 0.1em;
  color: #3697FF;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  z-index: 17;
  position: relative;
  opacity: 0;
  transition: all 0.2s;
}

.moreActions:after {
  font-size: 1.3em;
  width: 100%;
  content: '\f19b';
}

.selected {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.newTopic {
  background-color: #F1F1F1;
  position: fixed;
  height: 4em;
  bottom: 0;
  z-index: 100;
  width: -moz-available;
}

.addTopicBtn, .appareilPhoto, .micro {
  color: #BEBEBE;
  display: inline-block;
  margin-left: 0.4em;
}

.appareilPhoto, .micro {
  display: none
}

.addTopicBtn:after, .appareilPhoto:after, .micro:after {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.6em;
  font-family: 'Material-Design-Iconic-Font';
}

.appareilPhoto:after {
  content: "\f28c";
}

.micro:after {
  content: "\f2ab";
  font-size: 1.9em;
}

.files .btnValid:after {
  font-size: 1.8em !important;
  text-align: right;
}

.addTopicBtn:before {
  font-size: 1.6em !important;
}

.addTopicBtn {
  float: right;
  line-height: 1.2;
  width: initial;
}

/*.addTopicBtn {*/
/*position: relative;*/
/*cursor: pointer;*/
/*overflow: hidden;*/
/*}*/

/*.addTopicBtn .fileDropZone {*/
/*opacity: 1;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*cursor: pointer;*/
/*}*/

a {
  color: #00AEF0;
}

.actionList {
  list-style-type: none;
}

.actionBlock {
  clear: both;
  position: relative;
  padding: 0.1em 0;
}

.author {
  display: block;
}

.author .profileImg {
  display: inline !important;
}

.comm-ts, .action-ts {
  margin-top: 2px;
  font-size: 9px;
  color: #B5B5B5;
  display: inline;
  line-height: 9px;
  letter-spacing: -0.3px;
  font-family: 'robotoregular';
}

.disabled {
  opacity: 0.2;
}

.version .header a {
  color: black;
  text-decoration: underline;
}

.version .header {
  position: relative;
  color: black;
  height: 2em;
}

.versionHeader {
  width: 100%;
  display: inline-block;
}

.versionTitle {
  padding: 0;
  background: url(/images/tiret-black-long.png) repeat-x center;
  font-size: 1em;
  text-align: center;
  color: #C7C7C7;
  width: 96%;
  display: inline-block;
}

.versionTitleNumber {
  background-color: white;
  padding: 0 1em;
  cursor: pointer;
  font-family: 'nexa_boldregular';
}

.versionTitle > div {
  display: inline-block;
  vertical-align: middle;
}

.version .header .left {
  background-color: white;
  z-index: 2;
  position: absolute;
  display: inline-block;
  padding-right: 0.5em;
}

.version .header .right {
  background-color: white;
  z-index: 2;
  position: absolute;
  display: inline-block;
  padding: 0 1.5em 0 0.5em;
  right: 2em;
}

.toggleVersion {
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  width: 3%;
  text-align: right;
}

.toggleVersion:before {
  font-family: 'Material-Design-Iconic-Font';
  font-size: 1.7em;
  color: #CACFD5;
  content: '\f1eb';
}

/*.liVersion:hover .toggleVersion:before,*/
/*.closeIt .toggleVersion:before, .closeIt .versionTitle */
.liVersion:hover .versionTitle {
  color: #000;
}

.liVersion:hover .toggleVersion:before,
.closeIt .toggleVersion:before {
  /*color: #3697FF;*/
}

.versions li {
  list-style-type: none;
  width: 100%;
}

.addCommentBlock {
  margin-left: 1em;
  padding: 1em 0;
  float: left;
}

.versionComments {
  transition: all 1s;
  padding: 0.8em 0.4em 0.8em 0;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

.versionComments .addCommentBlock {
  margin-bottom: 2em;
}

/*.uploadStatus {*/
  /*position: absolute;*/
  /*left: -19px;*/
  /*top: -5px;*/
  /*z-index: 9;*/
  /*opacity: 0.7;*/
  /*font-family: 'Material-Design-Iconic-Font';*/
/*}*/

/*.uploadStatus:after {*/
  /*font-size: 2.1em;*/
  /*color: #252C3F;*/
  /*content: '\f21e';*/
/*}*/

.bubbleInner {
  display: inline-block;
  max-width: calc(79% - 5.7em);
  min-width: 1.2em;
  min-height: 1.2em;
  vertical-align: middle;
}

.bubble {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  padding: 0.4em 0.5em;
  background: #F1F1F1;
  color: #000;
  font-size: 0.9em;
  line-height: 1.5;
  font-family: 'robotoregular';
  min-width: 1.2em;
  min-height: 1.2em;
}

.actionBlock.draft {
  /*margin: 0.8em 0 0.5em 0;*/
}

.bubbleContent {
  word-break: break-word;
  display: inline;
}

.pLeft, .fileMoreActions {
  display: inline-block;
}

.pLeft {
  width: calc(100% - 4.4em);
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.pLeft.noClick {
  cursor: default;
}

.fileMoreActions {
  width: 4em;
  vertical-align: top;
  text-align: right;
}

.actionBlock:hover .bubbleContent .moreActions,
.actionBlock:focus .bubbleContent .moreActions,
.actionBlock.selected .bubbleContent .moreActions,
.moreActions:hover,
.moreActions:focus,
.moreActions.active {
  opacity: 1;
}


/*.bubbleContent:after, .bubbleContent:before {*/
/*right: 100%;*/
/*top: 12px;*/
/*border: solid transparent;*/
/*content: " ";*/
/*height: 0;*/
/*width: 0;*/
/*position: absolute;*/
/*pointer-events: none;*/
/*}*/

/*.bubbleContent:after {*/
/*border-right-color: #fff;*/
/*border-width: 7px;*/
/*margin-top: -7px;*/
/*}*/

/*.bubbleContent:before {*/
/*border-right-color: #d3d3d3;*/
/*border-width: 8px;*/
/*margin-top: -8px;*/
/*}*/

li.more > div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0em 0.5em;
  border-radius: 0.2em;
  margin: 0.5em 0;
  cursor: pointer;
}

li.more {
  text-align: center;
}

.menuItem {
  display: block;
  text-transform: initial;
}

.popupContent {
  overflow: hidden;
  padding: 0.2em;
}

.etatBlock .bubble {
  color: #fff;
  background-color: #909EAA;
}

.etatBlock .bubbleContent:before {
  border-right-color: #b2b6bb;
}

.etatBlock .bubbleContent:after {
  border-right-color: #909EAA;
}

.etatBlock .lockIcon {
  background-color: #FFF;
  color: #909EAA;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  text-align: center;
  width: 1.1em;
  height: 1.1em;
  line-height: 0.9em;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5em;
}

.lockBlock .lockIcon:after {
  font-size: 0.8em;
  width: 100%;
  content: '\f158';
}

.approveBlock .approveIcon {
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5em;
}

.approveBlock .approveIcon:after {
  font-size: 1.2em;
  width: 100%;
  content: '\f269';
  color: #fff;
}

.lockTime {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

.lockText {
  color: #fff;
  font-weight: bold;
}

.fileThumb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  width: 4.3em;
  height: auto;
  border: 1px solid rgba(153, 153, 153, 0.41);
  position: relative;
}

.fileThumb img {
  max-width: 100%;
  height: 100%;
}

.locked .fileThumb .fileThumb_bg:after {
  top: calc(50% - 18px);
  content: "";
  background: url("/images/pen_locked.png") no-repeat center center;
  width: 36px;
  height: 36px;
  z-index: 99 !important;
  left: 0;
  right: auto;
  margin-left: calc(50% - 18px);
  position: absolute;
  display: inline-block;
  text-align: center;
  opacity: 1;
}

.locked .fileThumb .fileThumb_bg:before {
  content: '';
  background: rgba(164, 163, 132, 0.7);
  bottom: 0;
  top: 0;
  opacity: 0;
}

.fileThumb .fileThumb_bg {
  line-height: 0;
}

.fileThumb .fileThumb_bg:after {
  content: "";
  background: url("/images/valid_big.png") no-repeat center center;
  width: 2.3em;
  height: 2.3em;
  z-index: 99 !important;
  left: auto;
  position: absolute;
  display: inline-block;
  text-align: center;
  opacity: 0;
  top: 0em;
  right: -1em;
}

.thumbnail {
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.locked .fileThumb .fileThumb_bg:before, .locked .fileThumb .fileThumb_bg:after, .approved .fileThumb .fileThumb_bg:after {
  opacity: 1;
}

.approved .fileThumb .fileThumb_bg img {
  opacity: 1 !important;
}

.arrowbottom {
  font-size: 30px;
}

.fileInfo {
  font-size: 1em;
}

.menuItem {
  border-bottom: 1px solid #cacaca !important;
}

.actionPropsBlock {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding-right: 0.5em;
}

.rightdesc {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.fileSize, .filetypedoc {
  display: inline-block;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1;
}

.fileversion {
  background-color: #3697FF;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  min-width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  letter-spacing: -1.5px;
  margin: 0;
  font-family: 'nexa_boldregular';
}

/*____________________isActionOn _____________*/

.isActionOn .lockBlock .bubble {
  background-color: #F2542F;
}

.isActionOn .etatBlock .release,
.isActionOn .etatBlock .lockIcon {
  background-color: #fff;
  color: #F2542F;
}

/*.isActionOn .lockBlock .bubbleContent:before {*/
/*border-right-color: #F2542F;*/
/*}*/

/*.isActionOn.ownAction .lockBlock .bubbleContent:before {*/
/*border-right-color: transparent;*/
/*}*/

/*.isActionOn .lockBlock .bubbleContent:after {*/
/*border-right-color: #F2542F;*/
/*}*/

.constructText {
  display: inline-block;
  vertical-align: middle;
}

.isActionOn .lockBlock .release {
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 0.1em 1em;
  margin-left: 0.5em;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 3;
  -webkit-app-region: no-drag;
}

@keyframes nomAnim {
  from {
    background-color: #9D7E90;
    margin-left: 0%;
  }
  50% {
    background-color: #BFBB97;
    margin-left: 90%;
  }
  to {
    background-color: #9D7E90;
    margin-left: 0%;
  }
}

/*____________________ownAction______________*/

/*.ownAction .bubbleContent:after {*/
/*border-color: rgba(250, 250, 250, 0);*/
/*border-left-color: #D5F0FF;*/
/*}*/

/*.ownAction .bubbleContent:before {*/
/*border-color: rgba(230, 230, 230, 0);*/
/*border-left-color: #d3d3d3;*/
/*border-width: 8px;*/
/*margin-top: -8px;*/
/*}*/

.ownAction .bubbleContent:after,
.ownAction .bubbleContent:before {
  right: 0;
  left: 100%;
}

.ownAction .author {
  display: none;
}

.ownAction .actionPropsBlock {
}

.ownAction .actionBlock {
  text-align: right;
}

.ownAction .actionBlock .fileProps {
  text-align: left;
}

.ownAction .bubble {
  background: #D8E8FF;
  -webkit-border-radius: 3px 0 3px 3px;
  -moz-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

.ownAction .etatBlock .bubble {
  background-color: #909EAA;
}

.ownAction .fileSize, .ownAction .filetypedoc {
  color: rgba(0, 0, 0, 0.25)
}

.ownAction .actionBlock.etatBlock .approveIcon,
.ownAction .actionBlock.etatBlock .lockIcon {
  float: left;
  margin: 0 0.5em 0 0;
}

.ownAction .actionBlock.etatBlock .constructText {
  float: right;
  line-height: 1.5;
  padding-top: 0.3em;
}

/* plus */
.ownAction.isActionOn .lockBlock .lockIcon {
  background-color: #fff;
  color: #3697FF;
}

.ownAction.isActionOn .lockBlock .bubble {
  background-color: #3697FF;

}

/*.ownAction.isActionOn .lockBlock .bubbleContent:after {*/
/*border-right-color: transparent;*/
/*}*/

/*.ownAction.isActionOn .lockBlock .bubbleContent:after {*/
/*border-left-color: #3697FF;*/
/*}*/

/*.ownAction.isActionOn .lockBlock .bubbleContent:before {*/
/*border-left-color: #3697FF;*/
/*}*/

/* _____________________ approveBlock ________________________  */

/* bg */
.ownAction .approveBlock .bubble, .approveBlock .bubble {
  background-color: #26C875;
}

.versionsListScroll {
  position: relative;
}

.fileDropZone {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
}

/*#uploadVersion input {*/
/*opacity:0;*/
/*}*/

/*#uploadVersion input[type=file] {*/
/*color: transparent  !important;*/
/*opacity: 0  !important;*/
/*!*position: absolute  !important;*!*/
/*!*left: 0  !important;*!*/
/*!*width: 100%  !important;*!*/
/*!*height: 100%  !important;*!*/
/*!*top: 0  !important;*!*/
/*!*z-index: 100  !important;*!*/
/*}*/

.dragging .fileDropZone {
  z-index: 2;
  opacity: 0.5;
  /*border: 2px dashed lightblue;*/
  background-color: #3697FF;
  text-indent: 0;
  color: transparent;
}

/*.uploading {*/
/*opacity: 0.5;*/
/*!*border: 2px dashed #00aced;*!*/
/*background-color: #00e4e4;*/

/*}*/

.headerPopVersion {
  background-color: white !important;
  padding: 1em 1em 0.5em 1em;
  color: #273B54;
}

.headerPopVersion .fileName {
  margin-bottom: 0.3em;
  font-weight: bold;
}

.headerPopVersion .fileName,
.headerPopVersion .fileInfo {
  font-size: 0.9em;
}

.newComment {
  /*display: table;*/
  /*width: 98%;*/
}

.cmtTd {
  vertical-align: middle;
}

.comment {
  /*display: inline-block;*/
  /*padding: 0.2em;*/
  /*width: calc(100% - 17em);*/
  /*color: rgba(0, 0, 0, 0.85);*/
  /*margin: 2px;*/
  /*margin-left: 10px;*/
}

.icRight {
  border-left: 0.11em solid rgba(190, 190, 190, 0.63);
}

.topicIcons {
  padding: 0 0.5em;
  height: 34px;
}

.whiteComment {

}

.whiteComment input {
  border: 0;
  color: #7D8388;
  font-size: 1em;
  background-color: transparent;
  width: calc(95% - 12px);
  padding-left: 12px;
  display: inline-block;
  height: 4em;
  vertical-align: middle;
}

.whiteComment .btnValid {
  display: inline-block;
  width: 4%;
  float: right;
  color: #c3c3c3;
  cursor: pointer;
  padding: 0;
  font-family: 'Material-Design-Iconic-Font';
  margin-top: 11px;
  margin-right: 2px;
}

.whiteComment .btnValid:after {
  font-size: 1.5em;
  color: #BEBEBE;
  content: '\f194';
  margin-top: 4px;
  display: block;

  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.whiteComment input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9F9F9F;
  font-style: italic;
}

.whiteComment input::-moz-placeholder { /* Firefox 19+ */
  color: #9F9F9F;
  font-style: italic;
}

.whiteComment input:-ms-input-placeholder { /* IE 10+ */
  color: #9F9F9F;
  font-style: italic;
}

.whiteComment input:-moz-placeholder { /* Firefox 18- */
  color: #9F9F9F;
  font-style: italic;
}

.micro:hover:after, .appareilPhoto:hover:after {
  cursor: pointer;
  color: #4690D1;
}

.comm-ts {
  display: inline-block;
}

.actionLiElem .comm-ts {
  margin-left: 0.3em;
}

.actionLiElem.ownAction .comm-ts {
  margin-right: 0.5em;
  float: left;
  margin-top: 0.9em;
}

.whiteComment:hover .btnValid:after,
.whiteComment:hover input {
  color: #000;
}

.fileActions_btn {
  margin-top: 1em;
  color: #D9D9D9;
}

/*.fileDropZone {*/
/*opacity: 0;*/
/*}*/

/*.dragging .fileDropZone {*/
/*opacity: 1;*/
/*}*/

.fileDropZone {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dragging .fileDropZone {
  z-index: 9999999;
  opacity: 0.7 !important;
  background-color: #D8E8FF;
}

/*.addTopicBtn .fileDropZone {*/
/*opacity: 1;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*cursor: pointer;*/
/*}*/

/*****************  mailImport *************************/

.mailInfo {
  background-color: rgba(216, 232, 255, 0.42);
  border: 0.1em solid #9FCBF2;
  padding: 1em;
  width: calc(100% - 2.2em);
  font-family: 'robotoregular';
  color: #353535;
  line-height: 1.4;
}

.mailInfo .account:before {
  content: "\f159";
  font-family: 'Material-Design-Iconic-Font';
  color: #3697FF;
  margin-right: 0.2em;
  font-size: 1.7em;
  vertical-align: baseline;
}

.mailInfo .account, .mailInfo .from, .mailInfo .to, .mailInfo .subject {
  margin-bottom: 0.3em;
}

.mailInfo .body {
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.56);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 0.7em;
}

.mailInfo .body span.gmail_msg {
  display: none;
}

.actionBlock.draft .fileName {
  overflow: visible;
}

/*****************  alignement  *************************/

div#reverseDirection {
  flex-flow: column;
  height: calc(100vh - 12.4em);
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 100%;
}

ul.listDirection {
  width: 100%;
}

/************************/

.quickNoteStyle .versionTitleNumber   {
  display: none;
}

.crashedInner::after {
  font-size: 1.6em;
  right: -10px;
  top: 4px;
}
/*__________________*/
@media only screen and (max-width: 1200px) {

  .versionTitle {
    font-size: 0.7em;
    width: 95%;
  }

  .whiteComment input {
    font-size: 0.8em;
  }

  .fileThumb img {
    height: auto;
  }

  .fileThumb {
    width: 2.5em;
  }

  .fileName {
    max-width: 200px;
  }

  .fileSize, .filetypedoc {
    font-size: 0.8em;
  }

  .files .btnValid:after {
    font-size: 1.4em !important;
  }

  .icons:after {
    top: 0;
  }

  .bubble {
    max-width: calc(100% - 0.5em);
  }

  .newTopic {
    /*height: auto;
    width: 49.5%;*/
  }

  .whiteComment .btnValid {
    margin-top: 6px;
  }

  .bubbleInner {
    max-width: calc(100% - 3em);
  }

  .topicIcons {
    padding: 0 0.5em 0 0;
  }

  .icRight {
    border-left: 0.1em solid rgba(190, 190, 190, 0.3);
  }
}

/*__________________*/

@media (max-width: 800px) and (min-width: 700px) {

  .pLeft {
    display: none !important;
  }

}

@media only screen and (max-width: 480px) {
  .bubble {
    max-width: calc(100% - 4.7em);
    padding: 0.2em 0;
  }
}