.roleChooser {
  text-align: right;
}

.roleChooser role-item {
  display: inline-block;
  width: 33%;
  text-align: center;
  font: normal normal normal 2em/1 'Material-Design-Iconic-Font';
  position: relative;
  float: left;
  background: url("/images/tiret-black.png") repeat-x center center;
}

.roleChooser role-item.delete { display: none}
.roleChooser role-item.owner { text-align: left }
.roleChooser role-item.viewer{ text-align:  right}



