.role {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.role .title {
  padding: 0.1em 0.5em 0;
  width: 100%;
  font-size: 1.3em;
  font-weight: normal;
  color: #4C3B4E;
  display: block;
}

.role .desc {
  padding-top: 1em;
  font-weight: normal;
}

.iconRole {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.iconRole {
  background: url("/images/roles/role_not_selected.png") no-repeat;
}

.iconRole:hover, .role.selected .iconRole {
  background: url("/images/roles/role_selected.png") no-repeat;
}

.iconRole:hover {
  opacity: 0.8;
}