.roleChooser {
  text-align: right;
}

.roleChooser role-item {
  display: inline-block;
  border: 1px solid #D1D1D1;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  color: #D1D1D1;
}


.roleChooser role-item:hover,
.roleChooser role-item:focus,
.roleChooser role-item.selected ,
.roleChooser role-item .role,
.roleChooser .selected {
  background-color : white !important;
}