.users {
  padding-right: 0.7em;
  margin-top: 2.1em;
  padding-bottom: 3.4em;
}

.user > div {
  display: inline-block;
}

.addBtn {
  float: left;
}

.title {
  color: #c2c2c2;
}

.subtitle {
  color: black;
  padding-left: 0.2em;
  display: none;
}

.list {
  list-style-type: none;
}

a {
  color: #00AEF0;
}

.addBtn {
  padding: 0.7em 0.5em 0 0.7em;
}

.addZone {

}

.user {
  color: black;
  cursor: pointer;
  padding-bottom: 0.3em;
}

.profileImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  position: relative;
}

.userName {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.49);
  font-size: 0.9em;
  word-break: break-word;
  width: calc(100% - 31.5px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'nexa_lightregular';
}

.fa-skype {
  color: #00AEF0;
  font-size: 1.3em;
  vertical-align: middle;
  margin-left: 0.1em;
  background-color: transparent;
}

.title {
  background: url("/images/tiret-grey.png") repeat-x center center;
  padding: 0 !important;
  color: #414c5f;
  font-size: 1em;
  font-weight: bold;
  margin: 14px 0;
}

.hTitlein {
  background: white;
  padding-right: 0.5em;
  display: inline;

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.userLine {
  width: 100%;
}

.userLine.popupOpen {
  background-color: rgba(0, 0, 0, 0.04);
}


@media only screen and (max-width: 1200px) {
  .userName {
    font-size: 0.9em;
  }
}